<script>
    emailFieldData = {
        "NAME_PREFIX": "{{ request.user.profile.prefix }}" || '',
        "NAME_FIRST": "{{ request.user.first_name }}" || '',
        "NAME_LAST": "{{ request.user.last_name }}" || '',
        "EMAIL": "{{ request.user.email }}" || '',
        "PHONE": "{{ request.user.profile.phone }}" || '',
        "ADDRESS_STREET": "{{ request.user.profile.street }} || ''",
        "ADDRESS_CITY": "{{ request.user.profile.city }}" || '',
        "ADDRESS_ZIP4": "{{ request.user.profile.zip }}" || "{{ request.session.zip }}" || '',
        "ADDRESS_ZIP5": "{{ request.user.profile.zip }}" || "{{ request.session.zip }}" || '',
    }
</script>