<script>
    emailFieldData = {
        "NAME_FIRST": "{% if request.user.first_name %}{{ request.user.first_name }}{% endif %}",
        "NAME_LAST": "{% if request.user.last_name %}{{ request.user.last_name }}{% endif %}",
        "EMAIL": "{% if request.user.email %}{{ request.user.email }}{% endif %}",
        "PHONE": "{% if request.user.profile.phone %}{{ request.user.profile.phone }}{% endif %}",
        "ADDRESS_STREET": "{% if request.user.profile.street %}{{ request.user.profile.street }}{% endif %}",
        "ADDRESS_CITY": "{% if request.user.profile.city %}{{ request.user.profile.city }}{% endif %}",
        "ADDRESS_ZIP5": "{{ request.session.zip }}" || "{{ request.user.profile.zip }}",
    }
</script>
