<div class='program-item col-sm-2' id="{{ item.id }}">
    <a href="{% url 'programs:detail' item.pk %}">
        <div class='loader-{{forloop.counter}}'></div>
        <p hidden id="program-item-objectId{{forloop.counter}}">{{item.id}}</p>
        <div class="program-img-container">
            {% if item.image %}
                <img class='program-item-image' id='program-item-image{{forloop.counter}}' src={{item.image.url}}>
            {% endif %}
        </div>
        <div class="program-info-container" style="display:inline;">
                <div class="sent-count">{{ item.counter }}</div>
                <div class="sent-count-label" style="display:block; font-size:12px; font-weight:200;">actions</div>
                <div class="runtime">{{ item.runtime_minutes }}</div>
                <div class="runtime-label">minutes</div>
        </div>
        <div class="program-title">
            <p id="program-item-title{{forloop.counter}}">{{item.title}}</p>
        </div>
    </a>
</div>