{% extends "layout.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="signout-container">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p style="font-size:16px;">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. {% endblocktrans %}</p></br>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

        </div>
    {% endif %}

</div>
{% endblock %}