.h1,h2,h3,h4,p{
  color:#000000;
}

.segment-container {
  max-width: 68em;
  padding-right: 15px;
  padding-left: 15px;
    margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #642039;
}

/* PURPOSE SUMMARY */
.container-purpose-summary{
  border-top: 1px solid #642039;
  border-bottom: 1px solid #642039;
  border-left: 1px solid #642039;
  border-right: 1px solid #642039;
  max-width:600px;
}
#purpose-summary-text{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ACTIONS */
#action-header-container{
  max-width:600px;
}
.action-container{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #642039;
  border-bottom: 1px solid #642039;
  border-left: 1px solid #642039;
  border-right: 1px solid #642039;
  max-width:600px;
}
#action_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.action-item{
  display: flex-item;
  max-width:500px;
  min-width:300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #642039;
  border-bottom: 1px solid #642039;
  border-left: 1px solid #642039;
  border-right: 1px solid #642039;
  border-radius: 5px;
  background: #dddddd;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

.flex-item {
    font-weight: bold;
    text-align: center;
}

.row{
  display:flex-item;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .segment-container {
    width: 750px;
  }

}
@media (min-width: 992px) {
  .segment-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .segment-container {
    width: 1170px;
  }
}
.segment-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


#text-input{
    min-width: 300px;
}


.rep-container{
  display:flex;
  flex-wrap: wrap;
  background: #EEEEEE;
  max-width: 500px;
}

.rep-item{
  margin: 10px;
  padding: 10px;
  border: 1px solid #642039;
  border-radius: 5px;
  min-width: 100px;
  background: white;
}

.rep-item p{
  padding:0;
  margin:0;
}

.repPhoto{
  height: 61px;
  width: 47px;
  border: 1px solid #642039;
  border-radius: 5px;
}

.hashtag-container{
  display:flex;
  flex-wrap:wrap;
  background: #EEEEEE;
}

.hashtag-item{
  margin: 10px;
  padding: 10px;
  background:#FFFFFF;
  border: 1px solid #642039;
  border-radius:5px;
  max-width: 300px;
  max-height: 43px;
}

.tweet-header{

}

.tweet-container{
  display:flex;
  flex-wrap:wrap;
  background: #EEEEEE;
}

.tweet-item{
  margin: 10px;
  padding: 10px;
  background:#FFFFFF;
  border: 1px solid #642039;
  border-radius:5px;
  max-width: 300px;
}


