/* HOME Program Container and items */

.body {
  background: yellow;
}


.intro-header{
}



.button-toggle:hover{

}

.campaigns-button{
  margin-left:25%;
  margin-top:20px;
  margin-bottom: 10px;
  margin-right:-5;
  background-color:#337ab7;
  border:2px solid #2e6da4;
  border-radius:5px;
  display:inline;
  width:150px;
  padding-left:0;
  padding-right:0;
  border-right:2px solid white;
  color:black;
}



@media only screen and (max-width: 470px) {
  .campaigns-button{

    margin-left:5%;
  }

}

.content-button{

  margin:-left:0;
  margin-top:20px;
  padding-left:0;
  padding-right:0;
  background-color:#337ab7;
  border:2px solid #2e6da4;
  border-radius:5px;
  display:inline;
  width:150px;
  border-left:2px solid white;
  color:black;
}

#search_keyword{
    border-radius:5px;
    margin-top:10px;
}


#search_btn{
    border-radius: 5px;
    width:100px;

}

.browse-container{
  background: #091525;
  background: linear-gradient(#000b1e, #092551); /* Standard syntax */
  padding-left:20px;
}

.browse-header{
  margin:0px;
  padding-left: 20px;
  padding-right: 20px;
  background:radial-gradient(#092551,#000b1e);
  background: rgba(0,0,0,0.0);
  margin-top:60px;
  margin-bottom: 0px;
  width:100%;
  max-height:100%;
}


#imdb-logo{

  vertical-align: middle;
  padding-bottom: 21px;

}

#youtube-logo{
  vertical-align: middle;
  margin-left:-20px;
  border-radius: 20%;
}

.category-section{
  background: rgba(0,0,0,0.0);
  margin-right: 0px;
  display: block;
}

.category-heading{
  margin:0px;
  margin-left:18px;
  color:#bdbdbd;
  font-weight:700;
  font-size:16px;
}


.program-container{
  display:flex;
    flex-wrap: wrap;
  flex-direction: row;
  /*overflow: auto;*/
  border: 0px solid black;
  padding: 0px;
  /*background-color:#092551;
  background:radial-gradient(#092551,#000b1e);*/
  background: rgba(0,0,0,0);
}


a.program-link {
  display: inline-block;
  width:460px;
}

@media only screen and (max-width: 438px) {
    a.program-link {
      display: block;
      width:300px;
    }


}

.program-item{
  margin:5px;
  margin-right:10px;
  padding-top:2px;
  background: rgba(0,0,0,0.4);
  border: 1px solid black;
  border-radius: 5px;
  /*transition: transform .2s cubic-bezier(.7,-0.39,.31,1.38);*/
  width:460px;
  min-width:460px;
  max-width:460px;
  height:150;
  max-height:150px;
}

@media only screen and (max-width: 438px) {
    .program-item{
        min-width: 300px;
        width: 300px;
        max-width:300px;
    }

}

.program-item p{
  height:110;
  max-height:110px;
  color: white;
  font-size: 12px;
  overflow: scroll;
}

.program-item:hover{
  cursor: pointer;
  /*transform: scale(1.05);*/
}

/* Center the loader */
#loader {
  position: absolute;
  left: 35%;
  top: 35%;
  z-index: 1;
  margin: 0px 0 0 0px;
  border: 3px solid white;
  border-radius: 50%;
  border-top: 3px solid #00aced;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.4s linear infinite;
  animation: spin 0.4s linear infinite;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





.program-img-container{
  display:inline;
  height:auto;
  width: 71px;
  min-width: 71px;
  height: 100px;
  min-height: 100px;
}

.program-item-image{
  display: inline;
  height: 100px;
  min-height: 100px;
  width: 71px;
  min-width: 71px;
  margin-top:7px;
  margin-bottom:-15px;
  margin-left:5px;
}

.program-item-image-crop{
  display: inline;
  height: 70px;
  min-height: 70px;
  width: 70px;
  min-width: 70px;
  margin:auto;
  margin-top:15px;
  margin-bottom:7px;
  margin-left:5px;
}

.program-title{
  display:inline-block;
  margin-bottom:-10px;
  margin-right:0px;
  margin-left: 5px;
  font-size:11pt;
  color:white;
  min-height: 18px;
  max-height: 36px;
  overflow: hidden;
  white-space: wrap;
  line-height:18px;
  vertical-align:top;
  border: 0px solid green;
  text-overflow: ellipsis;
  text-align:left;
  width: 300px;
}

@media only screen and (max-width: 438px) {
    .program-title {
        width: 200px;
    }
}



.program-description{
  display:block;
  font-weight:200;
  color:white;
  font-size:11pt;
  line-height:14pt;
  margin-left:85px;
  margin-right:5px;
  margin-top:-55px;
  margin-bottom:-8px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  border: 0px solid orange;
  border-top:1px solid #337ab7;
  height: 93px;

}

@media only screen and (max-width: 438px) {
    .program-description, .program-description-crop{
    }
}

.program-description-crop{
  font-weight:200;
  color:white;
  font-size:11pt;
  line-height:14pt;
  display:block;
  margin-left:85px;
  margin-right:5px;
  margin-top:-55px;
  margin-bottom:-6px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  border: 0px solid green;
  border-top:1px solid #337ab7;
  height: 93px;

}

.program-info-container{
  margin: auto;
  width:400px;
  text-align: right;
  align:right;
  position: relative;
  display: inline;
}

.count{
    color: gray;
    display:inline;
    margin: auto;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
}

.sent-count{
  font-size:14px;
  line-height:14px;
  color: green;
  display:inline;
  margin-left:330px;
  align-content:right;
  text-align:right;
  width:50px;
}

@media only screen and (max-width: 438px) {
    .sent-count{
        margin-left:200px;
    }

}

.sent-count-label{
  display:inline;
  margin-left:0px;
  color: green;
  font-size:12px;
  font-weight:200;

}

.user-count{
  color:yellow;
}

.user-count-label{
  color:yellow;
}

.runtime{
  position: absolute;
  top:87px;
  left: 29px;
  font-size:16px;
  color:gray;
}

.runtime-label{
  position: absolute;
  top:108px;
  left: 16px;
  color: gray;
  font-size: 14;
}

button.accordion {
    background:rgba(0,0,0,0.0);
    color: #444;
    cursor: pointer;
    padding: 5px;
    border: 0px solid gray;
    /*border-style: solid;
    border-radius: 10px;*/
    text-align: left;
    font-size: 24px;
    transition: 0.4s;
    display: inline;
    color:#bdbdbd;
    font-weight:400;
    outline:none;
}

button.accordion.active, button.accordion:hover {
    background-color: rgba(0,0,0,0);
    margin:0px;
    outline:none;
}


button.accordion:after {
    content: '\25BE';
    color: red;
    font-weight: bold;
    float: right;
    margin-left: 6px;
}

button.accordion.active:after {
    content: '\25BE';
    margin-left: 6px;

}

div.browse-button-a{
    background:rgba(0,0,0,0);
    align: left;
    width:130px;
}

div.panel {
    cursor: pointer;
    padding: 0 18px;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 250px;
    border-style: solid;
    border: 0px solid black;
    border-radius: 0px;
    position: absolute;
    height: auto;
    opacity: 0;
    z-index: 2001;
}

div.panel p {
    cursor: pointer;
    color:white;
    font-size: 18px;
    font-weight:600;
}

::selection {
  text-shadow: none;
  background-color: rgba(0,0,0,0);
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #092551;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #092551;
    border-radius:5px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius:5px;
}


/*
::-webkit-scrollbar-button:horizontal:decrement {
    background-color: #7c2929;
}

::-webkit-scrollbar-button:horizontal:increment {
	background-image: url('/static/img/location-icon-bold.png');
}
*/

#search_keyword{
  color:black;
  height:34;
  font-size:14px;

}

#search_keyword::selection {
  background: #ffb7b7;
}

.search-sub-text{
  margin:0;
  margin-top:-15px;
  margin-bottom: 10px;
  font-size: 11pt;
}