/*html{
  background-color: white;
  background: #d3d3d3;
}

body{
  background-color: transparent;
  background: #d3d3d3;
}

body h2{
  color:black;
}
*/

body{
  background-color: transparent;
  background: #e5e5e5;
}


.form-title{
  color:black;
  font-weight: 600;
}

.container-standard-form{
  margin-bottom:100px
}


.field-group {
  margin-top:20px;
}

.field-group-title{
  margin-top:40px;

}

.field-label-container {
  margin-bottom: 20px;
}


.field-label{
  margin-bottom:0px;
  color:black;
  font-weight: 400;

}

.field-label-sub-heading{
  color:black;
  font-size: 12pt;
}

.field-label-title-note{
  font-size:10pt;
  margin-top:0px;
  width: 100%;
  color:black;
}

.field-label-suggestions{
  font-size:12pt;
  margin-top:30px;
}


.field-label-description-note{
  font-size:10pt;
  margin-top:0px;
  width: 100%;
  color:black;
}

.field-label-image-subLabel{
  display: block;
  font-size:10pt;
  margin-top: 0px;
  margin-bottom:5px;
  color: black;
  display:none;

}

.field-label-tweet-note{
  font-size:10pt;
  margin-top:0px;
  color: black;
}


.field-label-tweet-intro{
  font-size:12pt;
}

.field-label-tweet-sublabel{

    margin-top:0px;
    color:black;
    font-weight:400;
}

.field-label-email-sublabel{
  margin-top:0px;
  color:black;
  font-weight:400;
}

.tweet-letter-count{
  display:inline;
  font-size:12pt;
  color:gray;
}

.field-label-email-intro{
  font-size:12pt;
}

.field-label-url{
  margin-top:20px;
  display:block;
}

.field-label-url-sublabel{
  margin-top:8px;
  display:block;
  font-size:12pt;
}

.field-label-url-subsublabel{
  margin-top:0;
  font-size: 10pt;
  color:black;

}

.field-label-link-to-info{
  margin-top:20px;
  display:block;

}

.field-input{
  color:black;
  font-size:16px;
  background-color:transparent;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.field-input:hover{
  color:black;
  font-size:16px;
  background-color:#d3d3d3;

}


.field-input-title{
  width: 100%;
  border: 1px solid black;
}

.field-input-description{
  width: 100%;
  min-height:70px;
}

.field-input-image{
  color:black;
  font-size:12pt;
  box-shadow: none;
}



#id_email_text{
  width: 90%;
  min-height:100px;
  height: 100px;
  max-height: 450px;
  display:block;
}

.field-input-url{
  width:400px;
  margin-left:5px;
  display:block;
}

#check_url{
  color:black;
  background:gray;
}

.field-input-slug{
  border: 1px solid gray;
  width: 100%;

}

.field-input-link{
  border: 1px solid gray;
  width: 100%;

}

.field-input-link-to-more-info{
width:400px;
margin-left:5px;
display:inline;

}

#submit{
  color:black;
  background:green;
  font-size:20px;
}

.suggested-message-container{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border: 1px solid gray;
    padding-bottom: 20px;
    padding-left:20px;
    min-width:300px;
}

.tweet-suggested-message-container{

}


#id_tweet_text{
  width: 90%;
  min-height:70px;
  height:70px;
  max-height:170px;
}

.suggested-email-container{
  margin-top:20px;

}



.footer{
  margin:top:100px;
}

.ten-point{
  font-size:10pt;
}
