.list-page-title{
  margin-left:70px;

}

.create-campaign-button{
    display: inline-block;
    margin: 40px auto;
    min-width: 10px;
    padding: 15px 20px;
    color:black;
    white-space: nowrap;
}

/*.button-toggle-active{*/
  /*color:red;*/
 /*margin-top:5px;*/
/*}*/
#campaign-table {
    margin: 0 auto;
}

#campaign-table .button-block {
    width: 220px;
}
@media screen and (max-width: 550px) {
    #campaign-table .button-block {
        width: 100px;
    }
}
#campaign-table .button-block a,
#campaign-table .button-block button {
    margin: 5px;
    border-radius: 4px;
}

#campaign-table .button-block .detele-form {
    display: inline-block;
    margin-bottom: 0;
}

.email-count, .tweet-count, .action-count {
    display: inline-block;
    margin: 0 10px;
}

.email-count .title, .tweet-count .title, .action-count .title {
    margin-right: 5px;
}

