h1.title-header{
  font-size:20px;
  line-height:1.2;
  word-spacing:2px;
}

h2{
  color:#bdbdbd;
  font-weight:600;
  font-size:20px;
}

p{
  line-height:1.2;
  word-spacing:1px;
}

.intro-header-landing {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background:linear-gradient( to left, #092551,#000b1e);
  height:auto;
}


.content-info-left{
    max-width:500px;
    min-width:400px;
    float: left;
    margin-left:-30px;
    margin-right:0;
    margin-top:10px;
    padding-left: 40px;
    padding-right: 15px;
    background:black;
    background: linear-gradient(to right, black, #191919 70% ,rgba(255,0,0,0));
    min-height:350px;
    position: relative;

}

.seen-it-container {
  position: absolute;
  bottom: 5px;
}

.content-info-right{
    /*width:225px;*/
/*    min-width:225px;
    max-width:225px;*/
    margin: 0;
    padding 0;
    position: absolute;
    /*right: 5;*/
    right:0;
}

@media only screen and (max-width: 750px) {
    .content-info-right{
        opacity:0.2;
    }
}

.img-landing-title {
  margin:0px;
  padding:0px;
  height:350px;
  max-width:241px;
  max-width:350px;
  /*max-height:100%;
  max-width:100%;*/
  width: auto;
box-shadow: 2px 2px 10px black;

}

.watch-button{
    position:absolute;
    bottom:10;
    vertical-align:middle;
    color:white;
    font-weight:600;
    background:rgba(255,0,0,1);
    border: 3px solid red;
    box-shadow: 4px 4px 5px #888888;
}

.watch-button:hover{
    color:black;
    background:red
}

/*@media only screen and (max-width: 868px) {
    .content-info-left{
        width: 50%;
    }
    .content-info-right{
        width: 50%;
    }
}*/

.description{
  color:#b6b6b6;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  height:269px;
  max-height: 269px;
  margin-bottom:35px;

}


/* fed rep menu ---------------------------------------------------------*/


.segment-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.container-standard {
  margin: 15px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom:0px;
  /*min-width: 250px;*/
}

/*
@media only screen and (max-width: 350px) {
  .container-standard {
    margin-right: -20px;
  }
}
*/



.rep-color-band{
  background:rgba(0,0,0,0.25);
  margin:0px;
  margin-left: 0px;
  padding-left: 15px;
  margin-right: 0px;
  padding-right: 0px;
  padding-top: 3px;
  height: auto;
  /*height: 220px;*/
}

@media only screen and (max-width: 515px) {
  .rep-color-band{
    /*height: 285px;*/
  }
}

.category-container{
  position:relative;
  padding-bottom: 50px;
  margin-bottom: 0px;
  margin-top: 2px;
  height: 220px;
  height: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 515px) {
  .category-container{
    height: 230px;
    height: auto;
  }
}


.share-social-container {
  margin-top:10px;
  margin-bottom:10px;
  font-weight:200;
}


.share-tweet{
  margin-left:10px;
  cursor:pointer;
}


.share-facebook{
  margin-left:10px;
  cursor:pointer;
  border-radius:5px;
}




.category-title-container{
    display:block;
}

.category-title{
  display: inline;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 515px) {
    .category-title {
        display: block;
    }
}

.category-warning{
  display: inline;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.zip-indicator{
    z-index: 1000;
    margin-left:6px;
    margin-bottom:3px;
    display:inline;
}

.zip-reset{
  margin-left:8px;
  width:130px;
  height:30px;
  font-size:12pt;
  text-align:center;
  display: none;
}

.zip-reset-hover-boundary{
  display:inline;
}

.total-actions{
  font-weight:200;
  font-size:18px;
  color:green;
}


.drop-here{
    position:relative;
    z-index:2000;
    height: auto;
    width: auto;
    border: 2px solid red;
}


.zip-capture{
    display:block;
    position:relative;
    z-index:2000;
    background:black;
    margin-left:-30px;
    width:333px;
    height:154px;
    opacity:1;
    border-radius: 0px 5px 5px 0px;
    border-right:3px solid green;
    border-top:3px solid green;
    border-bottom:3px solid green;
    box-shadow: 2px 2px 10px black;
    padding-bottom: 20px;
}


.location-label{
    position: absolute;
    top:22;
    left:34;
    color:white;
    height:30px;
    width: 200px;
    z-index:2001;
}

.location-icon{
    position:absolute;
    z-index: 2001;
    top: 12;
    left: 230;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.or-label{
    position: absolute;
    top:66;
    left:226;
    color:gray;
    height:30px;
    width: 100px;
    z-index:2001;
    font-size: 14px;
    cursor: default;
}


.zip-label{
    position: absolute;
    top:90;
    top:40;
    left:106;
    color:white;
    height:30px;
    width: 200px;
    z-index:2001;
}

.submit-zip{
    position: absolute;
    top: 115;
    top:73;
    left: 213;
    height: 50px;
    width: 90px;
    z-index:2001;
    background: green;
    border-radius:10px;
    font-size: 12pt;
    letter-spacing:1.05;
}

#zip-loader {
  position: absolute;
  top: 122;
  left: 307;
  z-index: 1000;
  margin: 0px 0 0 0px;
  border: 2px solid white;
  border-radius: 50%;
  border-top: 2px solid #00aced;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 0.4s linear infinite;
  animation: spin 0.4s linear infinite;
  display:none;
}

.submit-zip:hover{
    color: black;
    border: 2px solid white;
}

.zip-input{
     position: absolute;
     color:black;
     z-index:2001;
     height:30px;
     line-height:25px;
     width:90px;
     left:213;
     top:43;
     border:3px solid green;
     border-radius:5px;
     background: #ccefff;
     background: antiquewhite;
     text-align:center;
     padding: 0px 0px 0px 0px;
}

@media only screen and (max-width: 515px) {
    .zip-input {
        font-size: 20px;

    }

}

.sent-messages-count{


}

.sent-messages-count:hover{


}


.rep-container{
  display:flex;
  z-index:0;
  background: rgba(0,0,0,0);/*#75776a;*/
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  border-top:0px solid black;
  border-bottom:0px solid black;
  overflow: auto;
  padding-bottom:0px;
  padding-top:5px;
  position: relative;
}


@media only screen and (max-width: 515px) {

}


#loader {
  position: absolute;
  left: 35%;
  top: 35%;
  z-index: 1;
  margin: 0px 0 0 0px;
  border: 3px solid white;
  border-radius: 50%;
  border-top: 3px solid #00aced;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.4s linear infinite;
  animation: spin 0.4s linear infinite;
  display:none;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rep-action-container{
  position:relative;
  margin: 0px;
  margin-bottom:10px;
  margin-left:60px;
  padding-top:0px;
  padding: 0px;
  padding-left:10px;
  border: 0px solid black;
  width:auto;
  height:auto;
  /*opacity:0;*/
  display: none;
}

@media only screen and (max-width: 710px) {
    .rep-action-container{
        margin-left: 10px;
    }

}

@media only screen and (max-width: 655px) {
    div.img-checked-box-container{
        display: block;
    }
    #clear-button{
        display:none;
    }
}


#close-button{
  position: absolute;
  top:15px;
  left: -22px;
  cursor:pointer;
}

#close-button:hover{
  border: 1px solid gray;
}

text-tweet-block{
  display:block;
}


.letter-count{
  position: absolute;
  z-index:2001;
  top: 110px;
  left: 428px;
  cursor:pointer;
  color:gray;
  font-size: 12pt;
  align:right;
  vertical-align: text-bottom;
}

#text-input{
  display: inline-block;
  background: rgba(0,0,0,0);
  border: 2px solid gray;
  border-radius: 10px;
  width: 450px;
  min-width: 350px;
  max-width: 450px;
  height: 100px;
  max-height: 100px;
  /*height: 63px;
  max-height: 63px;*/
  margin-top: 1px;
  letter-spacing:1.15;
  font-size:12pt;
  font-weight:200;
  color: white;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#text-input:hover, #text-input:focus {
  background:black;
}


@media only screen and (max-width: 515px) {
    #text-input{
        width: 400px;
        min-width: 400px;
        font-size: 14pt;
    }
    .letter-count{
        top: 110px;
        left: 380px;
        font-size: 14px;
    }
    p#link-included{
        font-size:10pt;
    }


}
@media only screen and (max-width: 462px) {
    #text-input{
        width: 325px;
        min-width: 325px;
        font-size: 12pt;
    }
    .letter-count{
        left: 303px;
        font-size: 14px;
    }
    p#link-included{
        font-size:10pt;
    }
}

.address-placeholder{
  color: #00aced;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background: rgba(0,0,0,0);
  white-space: pre-wrap;
}

.address-container, .email-address-container{
  display:flex;
  flex-wrap;nowrap;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  overflow:auto;
  min-height:13px;
}




.address-item, .email-address-item{
  display:inline;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10pt;
  line-height: 1.0;
  display:none;
}

.address-item-label, .email-address-item-label{
  display: inline;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
  color: #00aced;
}


.address-title{
  display:inline;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10pt;
  line-height: 1.0;
}

.address-title p, .address-title p{
  margin: 0px;
  padding: 0px;
  color:gray;
  display:inline;
}



.address-item.selected{
  display:inline;
}

#tweet-button{
  display:inline-block;
  vertical-align:top;
  text-align: center;
  margin: 0;
  padding: 2px;
  margin-left:5px;
  height: 66px;
  width: 120px;
  border: 3px solid green;
  border: 3px solid green;
  border: 3px solid #054700;
  border: 2px solid #00aced;
  border-radius: 10px;
  font-size: 12pt;
  position: relative;
  cursor:pointer;
  background:linear-gradient(to bottom, #054400 50%, #055100 100%);
  z-index:4000;
}

#tweet-button:hover{
  background:black;
}

#tweet-loader {
  position: absolute;
  top: 4;
  left: 90;
  z-index: 1000;
  margin: 0px 0 0 0px;
  border: 2px solid white;
  border-radius: 50%;
  border-top: 2px solid #00aced;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 0.4s linear infinite;
  animation: spin 0.4s linear infinite;
  display:none;
}

#img-send-tweet-icon{
  position:absolute;
  left:35px;
  top:1px;
}

#img-send-email-icon{
  position:absolute;
  left:39px;
  top:3px;
  display:none;
 }
/*
#send-count{
  position:absolute;
  top:-5;
  right:15px;
  font-weight:400;
}
*/

#tweet-button-label, #email-button-label{
  position: absolute;
  left: 22px;
  bottom: -9px;
  cursor:pointer;
}

.img-checked-box-container{
  position:relative;
  display:block;
}

#img-checked-box{
  vertical-align: top;
  margin-top:7px;
}

#img-checked-box:hover{
  border: 1px solid white;
}



#link-included {
  display:block;
  margin-left:10px;
  margin-top:8px;
  margin-bottom:0px;
  padding:5px;
  margin-top:-6px;
  color: gray;
  whitespace:nowrap;
  font-size:12pt;
}

#clear-button {
  background:rgba(0,0,0,0);
  border: 2px solid gray;
  border-radius:5px;
  width: 100px;
  top:5;
  left: 350;
  color: gray;
  position: absolute
}

#clear-button:hover {
  background:rgba(0,0,0,1);
}

.warning-box{
  position:absolute;
  background: red;
  border-radius:5px;
  height: 37px;
  opacity:0;
}

.warning-box-tweet-icon{
  position:absolute;
  top: 0px;
  left: 20px;
  background: red;
  border-radius:5px;
  height: 17px;
  opacity: 0.0;
}

.warning-text{
  margin: 0px;
  padding:0px;
  padding-left:10px;
  padding-right:10px;
  font-size:12px;
}

.success-box{
  margin-top: 4px;
  position:absolute;
  background: green;
  border:2px solid #001900;
  border-radius:5px;
  height: 0px;
  opacity: 0;
  display:none;
}

.success-text{
  margin: 0px;
  padding:0px;
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  font-weight:400;
  display:none;
}



.duplicate-text{
  margin: 0px;
  padding:0px;
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  font-weight:400;
  display:none;
}

.img-logo-success{
  position: absolute;
  left: 5px;
  top: 4px;
}

.sent-messages-count{
  position: absolute;
  z-index=2001;
  height:25px;
  width:auto;
  min-width:40px;
  top: -15px;
  right: 0px;
  color: #00aced;
  font-size: 14pt;
  border:2px solid black;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px; /* same as height*/
  background:linear-gradient( to right, #092551,#000b1e);
  cursor:default;
}

.sent-messages-count:hover{
  cursor:default;
}

.success-indicator{
  position: absolute;
  z-index=2001;
  height:20px;
  width:20px;
  bottom: 0px;
  right: 0px;
  border:1px solid green;
  border-radius: 50pt;
}

.warning-box-indicator{
  position:absolute;
  z-index=2001;
  bottom: 0px;
  right: 0px;
  background: green;
  border-radius:5px;
  height: auto;
  max-width: 150px;
  display:none;
}

.indicator-text{
  z-index=2001;
  margin: 0px;
  padding:0px;
  padding-left:10px;
  padding-right:10px;
  font-size:12px;
  font-weight:400;
  display:none;
}

.rep-item-container{
  display:block;
}

.rep-item{
  position:relative;
  margin: 7px;
  padding: 7px;
  border: 5px solid #092551;
  border-radius: 5px;
  min-width: 270px;
  transition: transform .2s cubic-bezier(.7,-0.39,.31,1.38);
  background:linear-gradient( to left, #092551,#000b1e);
  font-size:18px;
  width:auto;
  height: 100px;
  display:inline-block;
  /*box-shadow: 4px 4px 5px #294f2f;*/
}



/*.rep-item:hover{
  transform: scale(1.0);
  transform-origin: 0% 50%;
  margin-right:120;
}*/


.info-container{
  padding: 5px;
  display: block;
}

.repPhoto{
  height: 75px;
  width: 60px;
  padding: 5px;
  display:inline;
  float: left;
  margin-right:10px;
}

.repPhoto-none{
  width:76px;
}

.name-title-container{
  display: inline-block;
  height:100%;
  padding-bottom:10px;
  /*border: 1px solid black;*/
  max-width:180px;
  cursor:default;
}

.full-name{
  margin-top:5px;
}

.title{
}

.action-panel-container{
    margin:20px;
    margin-top:-10px;
    height:60px;
    border-right:1px solid #00aced;
    border-left:1px solid #00aced;
    border-bottom:1px solid #00aced;
    /*border-bottom:1px solid #00aced;*/
    border-radius: 5px;
    box-shadow: 2px 2px 5px #294f2f;
}

.action-panel-container:hover{
    box-shadow: 0px 0px 20px #00aced;
}

.action-panel-container.selected{
    box-shadow: 0px 3px 30px green;
    border-right: 3px solid green;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
}

.action-panel-container.selected:hover{
    box-shadow: 0px 1px 30px green;
    border-right: 1px solid green;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
}

.action-panel{
  position:relative;
}

.twitter-name, .email-name{
  position:absolute;
  font-size: 14pt;
  top:15px;
  left: 0px;
  color: #00aced;
  width: 100%;
  text-align: center;
  height: 100%;
  vertical-align: text-middle;
  display:none;
  cursor: pointer;
}

#add-remove-label{
  position:absolute;
  top:7px;
  font-size:12pt;
}

/*Icons*/
.twitter-icon{
  position:absolute;
  top: 7px;
  left: 20px;
  cursor: pointer;
}

/*Icons*/
.twitter-icon-empty{
  position:absolute;
  top: 7px;
  left: 20px;
}

.phone-icon{
  position:absolute;
  top: 13px;
  left: 42%;
  height: 32px;
  cursor: pointer;
}

.email-icon{
  position:absolute;
  top: 14px;
  right: 24px;
  cursor: pointer;
}

.email-icon-gray{
  position:absolute;
  top: 14px;
  right: 20px;
  cursor: pointer;
}

.twitter-icon:hover, .phone-icon:hover, .email-icon:hover{
    box-shadow: 0px 1px 10px green;
    box-shadow: 0px 2px 4px green;
    box-shadow: 0px 0px 2px green;
}

.indicator{
  position: absolute;
  top: 53px;
  left: 10%;
  right: 10%;
  border-radius: 5px;
  background: green;
  background:linear-gradient( to left, green, green 85% ,#00aced);
  /*background:linear-gradient( to left, #092551,#000b1e);*/
  height: 15px;
  background: linear-gradient(to bottom right, #00aced, green 30%, green); /* Standard syntax (must be last) */
}


/*
.repPhoto:hover{
  height: 150px;
  width: 121px;
  border: 1px solid #642039;
  border-radius: 5px;
}
*/


.email-action-container{
  display:block;
  margin-left:50px;
  width: 500px;

}

.email-form-field-container{
  display:block;
  padding:5px;
  margin:0px;
}



.field-div{
  display:inline;
}

.eform{
    float:right;
    width:300px;
    background: #000b1e;  /*#00aced #092551,#000b1e     */
    background: #000b1e;
    border-radius:10px;
    border: 1px solid green;
    font-size: 12pt;
}

.eform:focus, .email-form-input:hover{
  background: black;
}




.label-div{
  display:inline;
}
.email-form-label{
    display: inline;
    width: 200px;
    max-width: 200px;
    font-weight:200;
    font-size:12pt;
}




.captcha-container{
    position:relative;
    float:right;
    width:300px;
}

.captcha-img{
    float:right;
}

.captcha-input{
    float:right;
    width:100px;
    background: #000b1e;  /*#00aced #092551,#000b1e     */
    background: #000b1e;
    border-radius:10px;
    border: 1px solid green;
    font-size: 12pt;
}

.captcha-input:focus, .captcha-input:hover{
  background: black;
}


#captcha-button{
  float:right;
  background:rgba(0,0,0,0);
  border: 2px solid gray;
  border-radius:5px;
  width: 100px;
  margin-left:165px;
  color: green;
}

#captcha-button:hover {
  background:rgba(0,0,0,1);
}


.captcha-error{
  position:absolute;
  top: 0px;
  right: 0px;
  background: red;
  color: white;
  border-radius:5px;
  height: 17px;
  margin: 0px;
  padding:0px;
  padding-left:8px;
  padding-right:8px;
  font-size:12px;
  display:none;
}


/* tweets and hashtags */
.hashtag-header{
  cursor:default;
  background:rgba(0,0,0,0);
}

.hashtag-container{
  display:flex;
  dispplay:block;
  overflow:auto;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5px;
  width: auto;
  border: 2px inset #092551;
  border: none;
  padding-top:20px;
}

.hashtag-item{
  margin: 5px;
  padding: 5px;
  border-radius:5px;
  transition: transform .2s cubic-bezier(.7,-0.39,.31,1.38);
  color: #00aced;
  color: white;
  border: 2px inset #092551;
  width: auto;
  height: 40px;
  cursor:default;
  white-space: nowrap;
  font-size: 12pt;
}

.hashtag-item:hover, .tweet-item:hover{
  transform: scale(1.01);
  margin-top:2px;
  margin-bottom:2px;
}

.message-container{
  background:rgba(0,0,0,0);
}

.tweet-header{
  cursor:default;
  background:rgba(0,0,0,0);
}



.tweet-container{
  cursor:default;
  display:flex;
  overflow: auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  /*-webkit-align-items: flex-start;*/
  /*align-items: flex-start;*/
  max-height:800px;
  max-width: auto;
  flex-flow: row wrap;
}

.tweet-item{
  position: relative;
  padding: 5px;
  padding-left:10px;
  padding-right:10px;
  border-radius:5px;
  min-width: 200px;
  max-width: 350px;
  height: auto;
  color: black;
  transition: transform .2s cubic-bezier(.7,-0.39,.31,1.38);
  border: 2px inset #092551;
  /*background: linear-gradient(to right, #D0D0D0,#D8D8D8);*/
  transform-origin: 0% 50%;
}

#copied-to-clipboard{
    position: absolute;
    top:-2;
    right:0;
    width:100px;
    height:0px;
    background:green;
    color: black;
    font-size:12pt;
    text-align:center;
    border-raduis:10px;
    border:2px solid black;
    display: none;
}

.tweet-name {
  line-spacing:1.0;
  margin: 0px;
  color: #00aced;
}

.tweet {
  color: white;
  overflow:hidden;
  word-wrap: break-word;
  white-space:normal;
  font-size: 12pt;
}




.field-suggested-tweet{
  width:500px;
  margin-left:5px;
  display:inline;
  background-color:transparent;
  font-size:12pt;
  min-height:85px;
  cursor: pointer;
}

.field-suggested-email{
  width:500px;
  margin-left:5px;
  display:inline;
  background-color:transparent;
  font-size:12pt;
  min-height:200px;
  cursor: pointer;
}


/* scroll bar */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #092551;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #092551;
    border-radius:5px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius:5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
