.content {
    margin: 0 0 0 30px;
}

#content{
  background:#e5e5e5;
}

.page-title{
  display:block;
  color:black;
  font-weight:600;
}

.title{
  color: black;
}

.number{
 color: black;
}

ul.actions {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none outside none;
}

ul.actions div.title {
    float: left;
    width: 100%;
}

ul.actions div.title h3 {
    float: left;
    width: 60%;
    color: white;
}

ul.actions .datetime {
    clear: both;
    font-size: 50%;
    color: gray;
}

ul.actions div.title h3 .action-type {
    font-weight: normal;
    color: #A0A0A0;
}

ul.actions div.title h3 .title {
    font-weight: bold;

}

ul.actions div.title .link {
    float: left;
    width: 35%;
    max-height: 50px;
    overflow-y: auto;
}

ul.actions .message {
    clear: both;
    max-width: 800px;
}

ul.actions .tweet-text {
    padding-left: 50px;
    background: url('/static/img/twitter-icon.png') no-repeat left top/30px;
    font-size: 16px;
    font-weight:400;
    color: black;
    border-bottom:1px solid #00aced;;
}

ul.actions .email-text {
    padding-left: 50px;
    background: url('/static/img/email-icon-black.png') no-repeat left top/30px;
}

a{
  color: black;
  font-size: 18px;
}

a#title{
  color: #88c0d2;
}

.total-actions{
  color:green;
  font-weight: 400;
}