{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}
{% block extra_meta %}
  {# <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />#}
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{object.title}}" />
  {# <meta property="og:description"   content="Your description" />#}
  <meta property="og:image"         content="{%if object.image%}{{object.image.url}}{%else%}{% static 'img/push_thought_logo.png' %}{%endif%}" />
{% endblock %}
<!--<link rel="stylesheet" href="{% static 'css/campaign-landing.css' %}">-->
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<link rel="stylesheet" href="{% static 'css/content-landing.css' %}">

{% endblock %}
{% block title %}{{object.title}}{% endblock %}
{# Push Thought Message Campaign#}

{% block content %}
<p hidden id="campaignId">{{ object.slug }}</p>
    <div hidden id="last-message">{{ request.session.last_message }}</div>
<div hidden id="alertList" data-alertList="{{ alertList }}"></div>
<div hidden id="emailFields" data-emailFields="{{ currentUser.congressEmailFields }}"></div>
<img hidden class="twitter-icon-hide" src="{% static 'img/twitter-icon.png' %}">
<img hidden class="twitter-icon-empty-hide" src="{% static 'img/twitter-icon-gray.png' %}">
<img hidden class="email-icon-hide" src="{% static 'img/email-icon.png' %}">
<img hidden class="phone-icon-hide" src="{% static 'img/phone-icon.png' %}">
<img hidden class="success-indicator-hide" src="{% static 'img/check-green.png' %}">

<div class="intro-header intro-header-landing">
    <div class="container container-text-white">
        <div class="content-wrapper">
            <div class="content-info-left">
                <h1 class="title-header">{{ object.title }}</h1>
                <!--<button class="btn-lg  test-button" style="color:black;">test</button>-->
                <p class="description">{{ object.description }}</p>
                {% if object.link %}
                <a class="more-info-link" href="{{ object.link }}"><p class="more-info-p">More info: {{ object.link }}</p></a>
                {% else %}
                {% endif %}
                    <div class="seen-it-container">
                    </div>
                    <h2 style="color: red;"><b>Share with purpose below...</b></h2>
            </div>
            <div class="content-info-right">
                <div class="div-title-image">
                    {% if object.image %}
                            <img class='img program-item-image img-landing-title'
                             id='program-item-image'
                             src='{{ object.image.url }}'>
                    {% else %}
                        <img class='img program-item-image-crop img-landing-title'
                         id='program-item-image'
                         src="{% static 'img/push_thought_logo.png' %}">
                    {% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--<div style="margin-bottom: 50px;"></div>-->
</div>
    <div class="rep-color-band">
          <div class="share-social-container">Share this campaign on:
              <a href="https://twitter.com/intent/tweet" id="twitter-share-button" style="text-decoration: none">
                <img class="share-tweet" src="{% static 'img/twitter-icon.png' %}" height="40" width="40">
              </a>
              <img class="share-facebook" id="facebook-share-button" style="cursor: pointer" src="{% static 'img/facebook-icon.png' %}" height="30" width="30">
          </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
            <div class="category-title-container">
                <div style="display:inline;">
                    <p class="category-title" style="z-index:0;">Share with Federal Representatives</p>
                    <div class="zip-reset-hover-boundary">
                        {% if hasCongressData %}
                            <img class="zip-indicator" src="{% static 'img/location-icon-bold.png' %}" width="25" height="25">
                        {% else %}
                            <img class="zip-indicator" src="{% static 'img/location-icon-bold.png' %}" width="25" height="25" style="display:none;">
                        {% endif %}
                        <button class="zip-reset btn-danger">reset location</button>
                    </div>
                    <div class="total-actions">Total Actions: {{ object.counter }}
                    </div>
                </div>
            </div>
            <div class="zip-capture" {% if hasCongressData %}style="display:none"{% endif %}>
                {#<div class="location-label">Current Location:</div>#}
                    {#<img class='location-icon' src="{% static 'img/location-icon-bold.png' %}">#}
                {#<div class="or-label">---  or  ---</div>#}
                <div class="zip-label">Zip Code:</div>
                    <button class="submit-zip">Load Reps</button>
                <div class='zip-loader'  id="zip-loader"></div>
                <input class="zip-input" id="{{ request.user.profile.zip }}" value="{{ request.user.profile.zip }}" type="number" maxlength = "5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"></input>
            </div>

            <div class="rep-container">
            </div> <!--close rep container-->
                    <!--here is the container that I'm having problems with b/c it shows zero height.  removing it helps, but then I lose control-->
                    <!--I use this container to make the messaging elements appear and disappear.-->
            <div class="rep-action-container">
                <!--{% if user.is_authenticated %}-->
                <!--{% else %}-->
                    <!--{% load account socialaccount %}-->
                    <!--{% get_providers as socialaccount_providers %}-->
                    <!--<ul class="socialaccount_providers">-->
                        <!--{% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
                    <!--</ul>-->
                <!--{% endif %}-->
                <div class="copy-last btn-primary" hidden>Copy last message</div>
                <img id="close-button" src="{% static 'img/x-mark-gray.png' %}">
                <div id="text-tweet-block">
                    <div style="display:block">
                        <div class="address-title" style="display:inline;">
                            <p style="display:inline;">Send to: </p>
                        </div>
                        <div class="address-container">
                        </div>
                    </div>
                    <div contenteditable id="text-input" tabindex="-1" placeholder="Tweet text here"></div>
                    <div id="tweet-button">
                        <img id="img-send-tweet-icon" style="" src="{% static 'img/twitter-icon.png' %}" width="40" height="40">
                        <img id="img-send-email-icon" src="{% static 'img/email-icon.png' %}">
                        <p class="tweet-button-label" id="tweet-button-label">Tweet</p>
                        <p class="email-button-label" id="email-button-label" style="display:none;">Email</p>
                        <div class='tweet-loader' id="tweet-loader"></div>
                    </div>
                    <div >
                        <label style=" margin-top:5px; font-size: 14pt;"><input id="twitter_input_add_url" type="checkbox" checked  style=" transform: scale(2.0); font-weight:300;"> Add site url
                        </label>
                    </div>

                    <div class="letter-count"></div>
                    <div class="img-checked-box-container">
                        <!--<img id="img-checked-box" src="{% static 'img/check-circle-gray2.png' %}" width="20" height="20">-->
                        <!--<p id="link-included" >content link included automatically</p>-->
                        <!--<p style="font-size:12pt;" id="link-included">automatically</p>-->
                        {#<button id="clear-button">Clear</button>#}
                        <div class="warning-box">
                        {#<p class="warning-text">link always included</p>#}
                        {#<p class="warning-text">for context</p>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="email-action-container">
            </div>

    <div class="suggested_message_container">
        <div class="tweet_suggested_message_container">
            {% if object.tweet_text %}
                <p class="suggested-tweet-text-label" >Suggested tweet text  </p>
                <p class="suggested-tweet-text-sublabel">(click text area to copy)</p>


                <textarea readonly class="field-input field-suggested-tweet">{{ object.tweet_text }}</textarea>
            {% endif %}
        </div>
        <div class="email_suggested_message_container">
            {% if object.email_text %}
                <p class="field-suggested-email-label">Suggested email text</p>
                <p class="field-suggested-email-sublabel">(click text area to copy) </p>
                <textarea readonly class="field-input field-suggested-email">{{ object.email_text }}</textarea>
            {% endif %}
        </div>
    </div>

        <div class="hashtag-container">
            <div class="hashtag-header">
                    <p><span style="color:gray">#| </span></p>
            </div>
            {% for item in object.hashtagcounter_set.all %}
                <div class='hashtag-item' id="hashtag-item">
                    <div id="copied-to-clipboard">Copied to Clipboard</div>
                    #{{item.hashtag.name}} | {{item.counter}}
                </div>
                <div id="copied-to-clipboard">Copied to Clipboard</div>
            {% endfor %}
        </div>

    <div class="container-standard">
        <div class="message-container">
            <div class="tweet-header">
                <p><span style="color:gray">Tweets|</span></p>
            </div>
            <div class="tweet-container">
                {% for item in object.actions.all %}
                    {% if item.tweet %}
                        <div class="tweet-item">
                            <div id="copied-to-clipboard">Copied to Clipboard</div>
                            <div><p class="tweet-name" style="color:#00aced; font-size:12pt;">@{{item.user.profile.twitter}}</p></div>
                            <div class="tweet">{{item.tweet.text}}</div>
                        </div>
                    {% endif %}
               {% endfor %}
            </div> <!--close tweet container-->
        </div>
    </div>
</div><!-- /.intro-header -->

{% endblock %}

{% block js %}
    {% include 'inserts/email_field_populate.html' %}
    <script src="{% static 'js/last_message_btn.js' %}"></script>
    <script src="{% static 'js/content_landing.js' %}"></script>
    <script src="{% static 'js/campaign_landing.js' %}"></script>
    <script src="{% static 'js/content_landing_success_messages.js' %}"></script>
    <script src="{% static 'js/content_landing_email_action.js' %}"></script>
    <script src="{% static 'js/content_landing_tweet_action.js' %}"></script>
    <script src="{% static 'js/content_landing_get_congress.js' %}"></script>
    <script src="{% static 'js/twitter_add_url.js' %}"></script>
    <script>
        get_congress_url = '/congress/campaign/add_zip/'
    </script>
{% endblock %}
