{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}

<!--<link rel="stylesheet" href="{% static 'css/campaign-landing.css' %}">-->
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<link rel="stylesheet" href="{% static 'css/content-landing.css' %}">
<link rel="stylesheet" href="{% static 'css/campaign_list.css' %}">

{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


{% block content %}
    <div id="content-container" class="row">
    {% if object_list %}

        <div class="list-page-title">Your campaigns</div>

        <div>
            <table id="campaign-table" border="0" width="60%" align="center">
                <tr>
                    <th></th>
                    <th width="50%">Title</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for campaign in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td align="left">{{ campaign.title }}</td>
                        <td></td>
                        <td><a href="{% url 'campaign:detail' campaign.slug %}"><button>View</button></a></td>
                        <td><a href="{% url 'campaign:update' campaign.slug %}"><button>Edit</button></a></td>
                        <td><span obj="{{ campaign.id }}">X</span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}
        <div>You have no campaigns</div>
        <button class="create-campaign-button">Create Campaign</button>
    {% endif %}
    </div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/content_landing.js' %}"></script>
<script src="{% static 'js/campaign_landing.js' %}"></script>
<script src="{% static 'js/content_landing_success_messages.js' %}"></script>
<script src="{% static 'js/content_landing_email_action.js' %}"></script>
<script src="{% static 'js/content_landing_tweet_action.js' %}"></script>
<script src="{% static 'js/content_landing_get_congress.js' %}"></script>

{% csrf_token %}
{% endblock %}
