{% extends "layout.html" %}
{% load static from staticfiles %}

{% block css %}{% endblock %}

{% block title %}Push Thought - Not Found{% endblock %}


{% block content %}

<div class="landing-container" align="middle" id="landing-container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
     <h1>Oops, page not found</h1>
     <p>Please use links to navigate back to the site.</p>
    <br/>
    <br/>

</div>


        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<button type="button" id="browse-btn" class="btn btn-success">browse</button>-->
                <!--<h1>We combine your voice with thousands of others to create social change</h1>-->
                <!--<h1>Great documentary, but now what?</h1>-->
                <!--<p class="lead">Share your thoughts with key decision makers.</p>-->
                <!--<p class="lead">No parties to join, just thoughts to share.</p>-->
                <!--<p class="lead">You contact key decision makers, publicly or-->
                                <!--privately.</p>-->
                <!--<p class="lead">Leverage social media, but don't be drowned out by it</p>-->
                <!--<p class="lead">-->
                    <!--<a class="btn btn-primary btn-lg btn-block" href="https://itunes.apple.com/us/app/push-thought/id1034060736?mt=8">"I am a watcher"<br>View App</a>-->
                    <!--<a class="btn btn-info btn-lg btn-block" href="#">"I create content" <br> Use Push Thought?<br><small>(it's free!)</small></a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                    <!--<img class="img-responsive" src="{% static 'img/image1.png' %}" alt="hello">-->
            <!--</div>-->
        <!--</div>-->


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

    <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->

              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->
              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->
              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                  <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                    <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                    <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</body>
</html>

