
{% extends "layout.html" %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

{% block content %}
<body>
    <div class="container">
        <div class="jumbotron">
            <p>PushThought provides an "action menu" for the videos, podcasts, articles etc... that you find
                the most informing, interesting, or inspirational.  With one-touch you can share your ideas with the people who are most relevant to the management/behavior of that system.

            <br><br>Features:
            <br>- One-touch Tweet or Facebook post to share content.
            <br>- One-touch call, email, tweet to your Local Representative.  (You literally pay your taxes so that these people will listen to you.)
            <br>- Preloaded, one-touch action options for relevant contacts from the government and private industry.
            <br>- One-touch long form email.

            <br><br>Features coming:
            <br>- One touch petition signup
            <br>- Once touch donations

            </p>
        </div>
        <ul>
            <br><br><li>Send email to: <a href="mailto:feedback@pushthought.com">feedback@pushthought.com</a></li><br>
            <br><li>Send tweet to:
            <a href="http://twitter.com/intent/tweet?screen_name=mattacalin">@mattacalin</a></li><br><br>
        </ul>
    </div>
</body>
{% endblock %}
