
{% extends "layout.html" %}
{% load static from staticfiles %}

<!--{% block static %}<link rel="stylesheet" href="{% static 'pushthought/css/pushthought.css' %}">{% endblock %}-->
{% block title %} {% endblock %}


{% block content %}

<div class="main-wrapper">
    <div class="user-container">
            {% if not current_user %}
                <p>Please login or create an account.</p>
            {% else %}
                <p> <button type="button" id="logout">Log out</button></p><p>|</p>
                <p>You are logged in as: {{current_user.username}}</p>
                <!--<p>{{user_pk}}</p>-->
                <!--<p>{{programs}}</p>-->
            {% endif %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/click_handlers.js' %}"></script>

{% endblock %}





<!--<h3>Dashboard for {{ user.username }}</h3>-->
<!--{% if not programs %}-->
<!--{% else %}-->
<!--{% endif %}-->


<!--<div class="container">-->
    <!--<div class="cards">-->
        <!--{% for program in programs %}-->
        <!--<div class="card">-->
            <!--<header><a href="{% url 'segment_list' user.pk program.pk%}"-->
               <!--style="color:blue">{{ program.title }}</a>-->
            <!--</header>-->
            <!--<div class="card-copy">-->
                <!--<b>Description: </b><br>{{ program.description }}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->