
{% extends "layout.html" %}
{% load static from staticfiles %}

<!--{% block static %}<link rel="stylesheet" href="{% static 'pushthought/css/pushthought.css' %}">{% endblock %}-->
{% block title %} {% endblock %}


{% block content %}
<!--{% csrf_token %}    -->
<div class="container">
        {% if not current_user %}
            <p>Please login or create an account.</p>
        {% else %}
            <p>You are logged in as: {{current_user.username}}</p>
            <!--<p>{{user_pk}}</p>-->
            <!--<p>{{programs}}</p>-->
        {% endif %}
</div>

{% endblock %}





<!--<h3>Dashboard for {{ user.username }}</h3>-->
<!--{% if not programs %}-->
<!--{% else %}-->
<!--{% endif %}-->


<!--<div class="container">-->
    <!--<div class="cards">-->
        <!--{% for program in programs %}-->
        <!--<div class="card">-->
            <!--<header><a href="{% url 'segment_list' user.pk program.pk%}"-->
               <!--style="color:blue">{{ program.title }}</a>-->
            <!--</header>-->
            <!--<div class="card-copy">-->
                <!--<b>Description: </b><br>{{ program.description }}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->