
{% extends "layout.html" %}
{% load static from staticfiles %}


{% block title %} {% endblock %}


{% block content %}

<head>

    <link rel="stylesheet" href="{% static 'css/account_home.css' %}">
</head>

<div class="main-wrapper">
    <div class="user-container">
        {% if not current_user %}
            <p>Please login or create an account.</p>
        {% else %}
            <p> <button type="button" id="logout">Log out</button></p><p>|</p>
            <p>You are logged in as: {{current_user.username}}</p>
        {% endif %}
    </div>

    <div class="program-container col-lg-12">
        {% if not programs %}
            <p>Create an Action Menu for your program or campaign</p>
        {% else %}
            <div><h3>List of programs</h3></div>
            {% for program in programs %}
                <div class="program-item col-md-6">
                    <h3>{{ program.programTitle }}</h3>
                    <p>{{ program }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id="create-action-menu">
        <button class="button btn-primary" type="button">Create New Action Menu</button>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/click_handlers.js' %}"></script>

{% endblock %}





<!--<h3>Dashboard for {{ user.username }}</h3>-->
<!--{% if not programs %}-->
<!--{% else %}-->
<!--{% endif %}-->


<!--<div class="container">-->
    <!--<div class="cards">-->
        <!--{% for program in programs %}-->
        <!--<div class="card">-->
            <!--<header><a href="{% url 'segment_list' user.pk program.pk%}"-->
               <!--style="color:blue">{{ program.title }}</a>-->
            <!--</header>-->
            <!--<div class="card-copy">-->
                <!--<b>Description: </b><br>{{ program.description }}-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->