{% extends "layout.html" %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/browse.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}

{% block content %}

    {% csrf_token %}
    <input type="hidden" name="search_type" id="search_type" value="">
    <div class="browse-container">
        <div class="browse-header">
            <div>
                <div class="row text-center">
                    <a href="/browse_campaigns/" style="text-decoration:none;">
                        <button class="campaigns-button button-toggle">CAMPAIGNS
                        </button>
                    </a>
                        <button class="content-button button-toggle">CONTENT
                        </button>
                </div>
                <div class="messages">
                    {#  DO NOT REMOVE THIS#}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div>
                    <input name="search_keyword" id="search_keyword" placeholder="IMDB or Youtube link"/>
                    <button name="search_btn" id="search_btn" class="btn-primary">Find</button>
                </div>
                <div style="display:inline-block">
                    <img id="imdb-logo" src="{% static '/img/imdb-logo-1024x467.png' %}" width="120" height="auto">
                    <img id="youtube-logo" src="{% static '/img/youtube-logo-2.jpg' %}" width="80" height="auto">
                </div>
            </div>
            <div>
                <p class="search-sub-text">Navigates to existing Campaign or creates new one</p>
            </div>
        </div><!-- /.browse-header -->
        <div style="margin-left: 130px; font-size:80%;">-- or --
        </div>
        <div class="search-result-section">
            <div>
                <p class="search-result-heading" style="display:inline; color:green; font-weight:400;">Choose what campaign inspires you</p>
                {% if searchResultList|length > 0 %}
                    <p>{{searchResultList|length}}</p>
                {% endif %}
            </div>
            <div class="program-container">
                {% for item in searchResultList %}
                <div class='program-item' id="{{item.itemprop_videoId}}">
                    <div class="program-img-container">

                        <img class='program-item-image' id='program-item-image' src="{{item.property_og_image}}">
                    </div>
                    <div style="display: inline">
                        <p>{{item.name_title}} - {{item.itemprop_duration}}</p>
                    </div>
                </div>
                {% endfor %}
             </div>
        </div>
        <div class="category-section">
            <div>
                <p class="category-heading" style="display:inline;">Documentaries</p>

            </div>
             <div class="row">
{#             TODO:Change to docs only#}
                 <div class="endless_page_template">
                {% include 'inserts/documentaries.html' %}
                     </div>
             </div>
        </div>

        <div class="category-section">
        <p class="category-heading">Web Videos</p>
            <div class="row endless_page_template">
                <div class="endless_page_template">
{#             TODO:Change to docs only#}
                {% include 'inserts/webvideos.html' %}
                </div>
             </div>
        </div><!-- /.container -->
    </div>


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/browse.js' %}"></script>
    {{ block.super }}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
    <script>
        imdb_id_search_url = '{% url 'programs:parse_program' %}'
    </script>
    <script src="{% static 'js/browse/imdb_search.js' %}"></script>
{% endblock %}