{% extends "layout.html" %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/browse.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


                <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="1" cols="60" id="comment" placeholder="Search Keyword or Paste Link" ></textarea>-->
                        <!--<button type="button" class="btn btn-primary" style="border-radius:10px;">Search</button>-->
                    <!--</div>-->
                <!--</form>-->

{% block content %}
{#<form name="browse_form" action="{% url 'browse' %}" method="post">#}
    {% csrf_token %}
    <input type="hidden" name="search_type" id="search_type" value="">
    <div class="browse-container">
        <div class="browse-header">
            <div>
                </br>
                <input name="search_keyword" id="search_keyword" placeholder="paste link to content"/>
                <button name="search_btn" id="search_btn" class="btn-primary">Find</button>
                <img id="imdb-logo" src="{% static '/img/imdb-logo-1024x467.png' %}" width="120" height="auto" style="vertical-align: middle; padding-bottom: 21px;">
                <img id="youtube-logo" src="{% static '/img/youtube-logo-2.jpg' %}" width="80" height="auto" style="vertical-align: middle; margin-left:-20px; border-radius: 20%; " >
            </div>
            <div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
{#            <div class="browse-button-a">#}
{#                <button class="accordion" style="display:inline; color:red; font-size:18px;">Browse</button>#}
{#                <div class="panel">#}
{#                    <a><p>Documentaries</p></a>#}
{#                    <a><p>Web Videos</p></a>#}
{#                    <a><p>Podcasts</p></a>#}
{#                </div>#}
{#            </div>#}
        </div><!-- /.browse-header -->
        <div style="margin-left: 130px; font-size:80%;">-- or --</div>
        <div class="search-result-section">
            <div>
                <p class="search-result-heading" style="display:inline; color:green; font-weight:400;">Choose what content inspires you</p>
                {% if searchResultList|length > 0 %}
                    <p>{{searchResultList|length}}</p>
                {% endif %}
            </div>
            <div class="program-container">
                {% for item in searchResultList %}
                <div class='program-item' id="{{item.itemprop_videoId}}">
                    <div class="program-img-container">
                        <img class='program-item-image' id='program-item-image' src="{{item.property_og_image}}">
                    </div>
                    <div style="display: inline"><p>{{item.name_title}} - {{item.itemprop_duration}}</p></div>
                </div>
                {% endfor %}
             </div>
        </div>
        <div class="category-section">
            <div>
                <p class="category-heading" style="display:inline;">Documentaries</p>
                <!--<p style=" margin-left:10px; display:inline; font-size:14">(see all)</p>-->
            </div>
             <div class="row">
{#             TODO:Change to docs only#}
                 <div class="endless_page_template">
                {% include 'inserts/documentaries.html' %}
                     </div>
             </div>
        </div>

        <div class="category-section">
        <p class="category-heading">Web Videos</p>
            <div class="row endless_page_template">
                <div class="endless_page_template">
{#             TODO:Change to docs only#}
                {% include 'inserts/webvideos.html' %}
                </div>
             </div>
        </div><!-- /.container -->
    </div>


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/browse.js' %}"></script>
    {{ block.super }}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
    <script>
        imdb_id_search_url = '{% url 'programs:parse_program' %}'
    </script>
    <script src="{% static 'js/browse/imdb_search.js' %}"></script>
{% endblock %}

        <!--<div style="display:inline-block;">-->
            <!--<button class="accordion" style="display: inline;">Section 2</button>-->
            <!--<div class="panel">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="display: inline-block;">-->
            <!--<button class="accordion">Section 3</button>-->
            <!--<div class="panel">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--</div>-->
        <!--</div>-->