{% extends "layout.html" %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/browse.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


{% block content %}


    {% csrf_token %}
    <input type="hidden" name="search_type" id="search_type" value="">
    <div class="browse-container">
        <div class="browse-header container">
            <div class="row text-center">
                <div style="display:inline;">
                    <button class="campaigns-button button-toggle">CAMPAIGNS
                    </button>
                    <a href="/browse/" style="text-decoration:none;">
                        <button class="content-button button-toggle">CONTENT
                        </button>
                    </a>
                </div>
                </br>
            </div>
        </div><!-- /.browse-header -->

        <div class="search-result-section container">
            <div>
                <p class="search-result-heading">Choose the campaign that inspires you</p>
                {% if searchResultList|length > 0 %}
                    <p>{{searchResultList|length}}</p>
                {% endif %}
            </div>
            <div class="program-container">
                {% for item in searchResultList %}
                <div class='program-item' id="{{item.itemprop_videoId}}">
                        <div class="program-img-container">
                        <img class='program-item-image' id='program-item-image' src="{{item.property_og_image}}">
                    </div>
                    <div style="display: inline">
                        <p>{{item.name_title}} - {{item.itemprop_description}}</p>
                    </div>
                </div>
                {% endfor %}
             </div>
        </div>
        <div class="category-section container">
            <div>
                <p class="category-heading" style="display:inline;">Active Campaigns</p>

            </div>
             <div class="row">
{#             TODO:Change to docs only#}
                 <div class="endless_page_template row">
                {% include 'inserts/campaigns.html' %}
                     </div>
             </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/browse_campaigns.js' %}"></script>
    {{ block.super }}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate();</script>
    <script src="{% static 'js/browse/find_campaign.js' %}"></script>
{% endblock %}