{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/browse.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


                <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<textarea class="form-control" rows="1" cols="60" id="comment" placeholder="Search Keyword or Paste Link" ></textarea>-->
                        <!--<button type="button" class="btn btn-primary" style="border-radius:10px;">Search</button>-->
                    <!--</div>-->
                <!--</form>-->

{% block content %}
{#<form name="browse_form" action="{% url 'browse' %}" method="post">#}
    {% csrf_token %}
    <input type="hidden" name="search_type" id="search_type" value="">
    <div class="browse-container">
        <div class="browse-header">
            <div>
                </br>
                <input name="search_keyword" id="search_keyword" placeholder="paste you tube link"/>
                <button name="search_btn" id="search_btn" class="btn-primary">Find</button>
            </div>
            <div class="browse-button-a">
                <button class="accordion" style="display:inline; color:red; font-size:18px;">Browse</button>
                <div class="panel">
                    <a><p>Documentaries</p></a>
                    <a><p>Web Videos</p></a>
                    <a><p>Podcasts</p></a>
                </div>
            </div>
        </div><!-- /.browse-header -->
        <div class="search-result-section">
            <div>
                <p class="search-result-heading" style="display:inline;">Search Results</p>
                {% if searchResultList|length > 0 %}
                    <p>{{searchResultList|length}}</p>
                {% endif %}
            </div>
            <div class="program-container">
                {% for item in searchResultList %}
                <div class='program-item' id="{{item.itemprop_videoId}}">
                    <div class="program-img-container">
                        <img class='program-item-image' id='program-item-image' src="{{item.property_og_image}}">
                    </div>
                    <div style="display: inline"><p>{{item.name_title}} - {{item.itemprop_duration}}</p></div>
                </div>
                {% endfor %}
             </div>
        </div>
        <div class="category-section">
            <div>
                <p class="category-heading" style="display:inline;">Documentaries</p><p style=" margin-left:10px; display:inline; font-size:14">(see all)</p>
            </div>
             <div class="program-container">
                {% for item in documentaries %}
                <div class='program-item' id="{{ item.id }}"><a href="{% url 'programs:detail' item.pk %}">
                    <div class='loader-{{forloop.counter}}'></div>
                    <p hidden id="program-item-objectId{{forloop.counter}}">{{item.id}}</p>
                    <div class="program-img-container">
                        {% if item.image %}
                                <img class='program-item-image' id='program-item-image{{forloop.counter}}' src={{item.image.url}}>
                        {% else %}

                        {% endif %}
                    </div>
                    <div class="program-info-container" style="display:inline;">
                            <div class="sent-count">{{ item.counter }}</div>
                            <div class="sent-count-label" style="display:block; font-size:12px; font-weight:200;">actions</div>
                            <div class="runtime">{{ item.runtime_minutes }}</div>
                            <div class="runtime-label">minutes</div>
                            <!--<hr class="hr-small" style="border-color:black;"/>-->
                            <!--<div class="user-count">{{ item.users }}</div>-->
                            <!--<div class="user-count-label" style="display:block; font-size:12px; font-weight:200;">users</div>-->
                    </div>
                    <div class="program-title">
                        <p id="program-item-title{{forloop.counter}}">{{item.title}}</p>
                    </div>
                </a>
                </div>
                {% endfor %}
             </div>
        </div>

        <div class="category-section">
        <p class="category-heading">Web Videos</p>
            <div class="program-container">
                 {% for item in webVideoList %}
                <div class='program-item' id="{{ item.id }}"><a href=""></a>
                    <div class='loader-{{forloop.counter}}'  id="loader"></div>
                    <p hidden id="program-item-objectId{{forloop.counter}}">{{item.objectId}}</p>
                    <div class="program-img-container">
                        {% if item.posterURL %}
                                <img class='program-item-image' id='program-item-image{{forloop.counter}}' src={{item.programImage.url}} >
                        {% else %}
                                <img class='program-item-image' id='program-item-image{{forloop.counter}}' src={{item.programImage.url}}>
                        {% endif %}
                    </div>
                    <div class="program-info-container" style="display:inline;">
                        {% if item.sentMessagesCount %}
                            <div class="count sent-count">{{ item.sentMessagesCount }}</div>
                            <div class="count sent-count-label" style="display:block; font-size:12px; font-weight:200;">actions</div>
                            <br/>
                            <hr class="hr-small" style="border-color:black;"/>
                            <div class="count user-count">{{ item.userCount }}</div>
                            <div class="count user-count-label" style="display:block; font-size:12px; font-weight:200;">users</div>
                        {% else %}
                        {% endif %}
                    </div>
                    <!--<div class="program-title">-->
                        <!--<p id="program-item-title{{forloop.counter}}">{{item.programTitle}}</p>-->
                    <!--</div>-->
                </div>
                {% endfor %}
            </div>  <!--close PROGRAM container-->
        </div><!-- /.container -->
    </div>





{#    <!--<div>-->#}
{#        <!--LIST OF PROGRAMS-->#}
{#    <!--</div>-->#}
{##}
{#    <!--<div class="program-container">-->#}
{#        <!--{% for item in programList %}-->#}
{#        <!--<div class='program-item' id="program-item{{forloop.counter}}">-->#}
{#            <!--<p id="program-item-title{{forloop.counter}}">{{item.programTitle}}</p>-->#}
{#            <!--<p hidden id="program-item-objectId{{forloop.counter}}">{{item.objectId}}</p>-->#}
{#            <!--<img class='program-item-image'  id='program-item-image{{forloop.counter}}' src={{item.programImage.url}} alt='Program Image'>-->#}
{#        <!--</div>-->#}
{#        <!--{% endfor %}-->#}
{#    <!--</div>  &lt;!&ndash;close PROGRAM container&ndash;&gt;-->#}
{#</form>#}
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/browse.js' %}"></script>
{% endblock %}

        <!--<div style="display:inline-block;">-->
            <!--<button class="accordion" style="display: inline;">Section 2</button>-->
            <!--<div class="panel">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="display: inline-block;">-->
            <!--<button class="accordion">Section 3</button>-->
            <!--<div class="panel">-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
            <!--</div>-->
        <!--</div>-->