{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<link rel="stylesheet" href="{% static 'css/content-landing.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


{% block content %}
<p hidden id="segmentId">{{ object.id }}</p>
<p hidden id="programId">{{ object.id }}</p>
<div hidden id="alertList" data-alertList="{{ alertList }}"></div>
<div hidden id="emailFields" data-emailFields="{{ currentUser.congressEmailFields }}"></div>
<img hidden class="twitter-icon-hide" src="{% static 'img/twitter-icon.png' %}">
<img hidden class="twitter-icon-empty-hide" src="{% static 'img/twitter-icon-gray.png' %}">
<img hidden class="email-icon-hide" src="{% static 'img/email-icon.png' %}">
<img hidden class="phone-icon-hide" src="{% static 'img/phone-icon.png' %}">
<img hidden class="success-indicator-hide" src="{% static 'img/check-green.png' %}">



<div class="intro-header intro-header-landing">
    <div class="container container-text-white">
        <div class="content-wrapper">
            <div class="content-info-left">
                <h1 class="title-header">{{ object.title }}</h1>
                <!--<button class="btn-lg  test-button" style="color:black;">test</button>-->
                <p class="description">{{ object.plot_outline }}</p>
                    <div class="seen-it-container">
                        <h2 style="color:red; font-weight:600; font-size:24px;">Share with purpose below...</h2>
                        <!--<h3>Share with purpose below...</h3>-->
                    </div>
            </div>
            <div class="content-info-right">
                <div class="div-title-image">
                    {% if object.image %}
                        <img class='img program-item-image img-landing-title'
                         id='program-item-image'
                         src='{{ object.image.url }}'>
                    {% else %}
                        <img class='img program-item-image-crop img-landing-title'
                         id='program-item-image'
                         src="{% static 'img/push_thought_logo.png' %}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    <!--{% if messages %}-->
        <!--<ul class="messages">-->
            <!--{% for message in messages %}-->
            <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->

<div class="container-standard" style="margin:0;">
    <div class="rep-color-band">

          <div class="share-social-container">Share this campaign on:
              <a href="https://twitter.com/intent/tweet" id="twitter-share-button" style="text-decoration: none">
                <img class="share-tweet" src="{% static 'img/twitter-icon.png' %}" height="40" width="40">
              </a>
              <img class="share-facebook" id="facebook-share-button" style="cursor: pointer" src="{% static 'img/facebook-icon.png' %}" height="30" width="30">
          </div>

            <div class="category-title-container">
                <div style="display:inline;">
                    <p class="category-title" style="z-index:0;">Share with Federal Representatives</p>
                    <div class="zip-reset-hover-boundary">
                        {% if hasCongressData %}
                            <img class="zip-indicator" src="{% static 'img/location-icon-bold.png' %}" width="25" height="25">
                        {% else %}
                            <img class="zip-indicator" src="{% static 'img/location-icon-bold.png' %}" width="25" height="25" style="display:none;">
                        {% endif %}
                        <button class="zip-reset btn-danger">reset location</button>
                    </div>
                    <div class="total-actions">Total Actions: {{ object.counter }}
                    </div>
                </div>
            </div>
            {% if hasCongressData %}
                <div class="zip-capture" style="display:none">
            {% else %}
                <div class="zip-capture">
            {% endif %}
                    {#<div class="location-label">Current Location:</div>#}
                    {#<img class='location-icon' src="{% static 'img/location-icon-bold.png' %}">#}
                    {#<div class="or-label">---  or  ---</div>#}
                    <div class="zip-label">Zip Code:</div>
                        <button class="submit-zip">Load Reps</button>
                    <div class='zip-loader'  id="zip-loader"></div>
                    <input class="zip-input" id="{{ request.session.zip }}" value="{{ request.session.zip }}" type="number" maxlength = "5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"></input>
                </div>
            <div class="rep-container">
                <!--{% if hasCongressData %}-->
                    <!--{% for item in congressData %}-->
                    <!--<div class="rep-item-container rep-item-container-{{forloop.counter}}">-->
                        <!--<div class='rep-item' id="rep-item{{forloop.counter}}">-->
                            <!--<div class='loader loader-{{forloop.counter}}'  id="loader"></div>-->
                            <!--{% if item.sent_messages_count %}-->
                                <!--<div class='sent-messages-count'>{{ item.sent_messages_count }}</div>-->
                            <!--{% endif %}-->
                            <!--{% if item.userTouched %}-->
                                <!--<img class="success-indicator" id="success-indicator-{{item.twitter_id}}" src="{% static 'img/check-green.png' %}">-->
                            <!--{% else %}-->
                                <!--<img style="display:none;" class="success-indicator" id="success-indicator-{{item.twitter_id}} success-indicator-{{item.bioguide_id}}" src="{% static 'img/check-green.png' %}">-->
                            <!--{% endif %}-->
                                <!--<div class="warning-box-indicator" id="warning-box-indicator-{{item.twitter_id}}">-->
                                    <!--<p class="indicator-text" id="indicator-text-{{item.twitter_id}}">you've already contacted this person</p>-->
                                <!--</div>-->
                            <!--<div class="success-box" id="success-box-{{item.twitter_id}}">-->
                                <!--<p class="success-text" style="padding-top:4px;">tweet sent to:</p>-->
                                <!--<p class="success-text" style="font-size:14pt; color:#00aced;">@{{item.twitter_id}}</p>-->
                                <!--<p class="duplicate-text" style="padding-top:4px;">duplicate, not sent:</p>-->
                                <!--<p class="duplicate-text" style="font-size:14pt; color:#00aced;">@{{item.twitter_id}}</p>-->
                                <!--&lt;!&ndash;<img class="img-logo-success" src="{% static 'img/push_thought_logo3.png' %}" width="70" height="70">&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="success-box" id="success-box-{{item.bioguide_id}}" name="{{item.full_name}}">-->
                            <!--</div>-->
                            <!--<div style="display:inline-block;">-->
                                <!--{% if item.image %}-->
                                    <!--<img class='repPhoto' id='repPhoto{{forloop.counter}}' src='{{ item.image.url }}'>-->
                                <!--{% else %}-->
                                    <!--<img class="repPhoto repPhoto-none" src="{% static 'img/push-thought-logo.png' %}">-->
                                <!--{% endif %}-->
                                <!--<div class="name-title-container" >-->
                                    <!--<div><p class="full-name">{{item.full_name}}</p></div>-->
                                    <!--<div><p class="title">{{item.title}}</p></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="action-panel-container" id="{{forloop.counter}}">-->
                            <!--<div class="action-panel">-->

                                <!--{% if item.twitter_id %}-->
                                    <!--<div class="twitter-name" id="twitter-name-{{forloop.counter}}" name="{{ item.bioguide_id }}">@{{item.twitter_id}}</div>-->
                                    <!--<img class="twitter-icon" id="{{forloop.counter}}" src="{% static 'img/twitter-icon.png' %}" width="42" height="42">-->
                                <!--{% else %}-->
                                    <!--<div class="twitter-name" id="twitter-name-{{forloop.counter}}" name="{{ item.bioguide_id }}">n/a</div>-->
                                    <!--<img class="twitter-icon-empty" src="{% static 'img/twitter-icon-gray.png' %}" width="42" height="42">-->
                                    <!--<div class="warning-box-tweet-icon">-->
                                        <!--<p class="warning-text">twitter address n/a</p>-->
                                    <!--</div>-->
                                <!--{% endif %}-->
                                <!--<img class="phone-icon" id="{{ item.phone }}" name="{{ item.full_name }}" src="{% static 'img/phone-icon.png' %}">-->
                                <!--<div class="email-name email-name-{{ item.bioguide_id }}" id="{{forloop.counter}}" name="{{ item.full_name }}">form</div>-->
                                <!--<img class="email-icon" id="email-icon-{{forloop.counter}}" name="{{ item.full_name }}" src="{% static 'img/email-icon.png' %}" width="36" height="36">-->
                                <!--<div hidden class="bioguide-mule" id="{{ item.bioguide_id }}">{{ item.last_name }}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--{% endfor %}-->
                <!--{% endif %}-->
            </div> <!--close rep container-->
                    <!--here is the container that I'm having problems with b/c it shows zero height.  removing it helps, but then I lose control-->
                    <!--I use this container to make the messaging elements appear and disappear.-->
            <div class="rep-action-container">
                <!--{% if user.is_authenticated %}-->
                <!--{% else %}-->
                    <!--{% load account socialaccount %}-->
                    <!--{% get_providers as socialaccount_providers %}-->
                    <!--<ul class="socialaccount_providers">-->
                        <!--{% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
                    <!--</ul>-->
                <!--{% endif %}-->
                <div class="copy-last btn-primary">Copy last message</div>
                <img id="close-button"src="{% static 'img/x-mark-gray.png' %}" width="20" height="20">
                <div id="text-tweet-block">
                    <div style="display:block">
                        <div class="address-title" style="display:inline;">
                            <p style="display:inline;">Send to: </p>
                        </div>
                        <div class="address-container">
                        </div>
                    </div>
                    <div contenteditable id="text-input" tabindex="-1" placeholder="Tweet text here"></div>
                    <div id="tweet-button">
                        <img id="img-send-tweet-icon" style="" src="{% static 'img/twitter-icon.png' %}" width="40" height="40">
                        <img id="img-send-email-icon" style="" src="{% static 'img/email-icon.png' %}" width="37" height="37">
                        <p class="tweet-button-label" id="tweet-button-label">Tweet</p>
                        <p class="email-button-label" id="email-button-label" style="display:none;">Email</p>
                        <div class='tweet-loader' id="tweet-loader"></div>
                    </div>
                    <div class="letter-count"></div>
                    <div class="img-checked-box-container">
                        <!--<img id="img-checked-box" src="{% static 'img/check-circle-gray2.png' %}" width="20" height="20">-->
                        <!--<p id="link-included" >content link included automatically</p>-->
                        <!--<p style="font-size:12pt;" id="link-included">automatically</p>-->
                        {#<button id="clear-button">Clear</button>#}
                        <div class="warning-box">
                        {#<p class="warning-text">link always included</p>#}
                        {#<p class="warning-text">for context</p>#}
                        </div>
                    </div>
                </div>

            </div>

            <div class="email-action-container">
            </div>
    </div>

    <div class="container-standard">
        <div class="hashtag-container">
            <div class="hashtag-header">
                    <p><span style="color:gray">#| </span></p>
            </div>
            {% for item in object.hashtagcounter_set.all %}
                <div class='hashtag-item' id="hashtag-item">
                    <div id="copied-to-clipboard">Copied to Clipboard</div>
                    #{{item.hashtag.name}} | {{item.counter}}
                </div>
                <div id="copied-to-clipboard">Copied to Clipboard</div>
            {% endfor %}
        </div>
    </div>

    <div class="container-standard">
        <div class="message-container">
            <div class="tweet-header">
                <p><span style="color:gray">Tweets|</span></p>
            </div>
            <div class="tweet-container">
                {% for item in object.actions.all %}
                    {% if item.tweet %}
                        <div class="tweet-item">
                            <div id="copied-to-clipboard">Copied to Clipboard</div>
                            <div><p class="tweet-name" style="color:#00aced; font-size:12pt;">@{{item.user.username}}</p></div>
                            <div class="tweet">{{item.tweet.text}}</div>
                        </div>
                    {% endif %}
               {% endfor %}
            </div> <!--close tweet container-->
        </div>
    </div>
</div><!-- /.intro-header -->

{% endblock %}

{% block js %}
    {% include 'inserts/email_field_populate.html' %}
    <script src="{% static 'js/content_landing.js' %}"></script>
    <script src="{% static 'js/content_landing_success_messages.js' %}"></script>
    <script src="{% static 'js/content_landing_email_action.js' %}"></script>
    <script src="{% static 'js/content_landing_tweet_action.js' %}"></script>
    <script src="{% static 'js/content_landing_get_congress.js' %}"></script>
{% endblock %}
