{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/content-landing.css' %}">
{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


{% block content %}
<p hidden id="segmentId">{{program.segmentId}}</p>
<p hidden style="color:white;" id="programId">{{ programId }}</p>
<p hidden id="successArray">{{ successArray }}</p>

<div class="intro-header intro-header-landing">
    <div class="container container-text-white">
        <div class="content-wrapper">
            <div class="content-info-left">
                <h1>{{program.programTitle}}</h1>
                <p class="description">{{program.programDescription}}</p>
                    <div class="seen-it-container">
                        <h2 style="color:red; font-weight:600; font-size:20px;">Already seen it?</h2>
                        <h3>Share with purpose below...</h3>
                    </div>
            </div>
            <div class="content-info-right">
                <div class="div-title-image">
                    <img class='img program-item-image img-landing-title' id='program-item-image'
                         src={{program.posterURL}}>
                    <button class="watch-button" style="red;">WATCH</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-standard">
    <div class="rep-color-band">
        <div class="container-standard category-container">
            <h2>Federal Representatives</h2>
            <div class="rep-container">
                {% for item in congressData %}
                <div class="rep-item-container rep-item-container-{{forloop.counter}}-">
                    <div class='rep-item' id="rep-item{{forloop.counter}}">
                        <img class="success-indicator" id="success-indicator-{{item.twitter_id}}" src="{% static 'img/check-green.png' %}">
                        <p hidden id="tweet-address-item{{forloop.counter}}">@{{item.twitter_id}}</p>
                        <!--<div class="success-box">-->
                            <!--<p class="success-text">message sent</p>-->
                        <!--</div>-->
                        {% if item.imageFileURL %}
                            <img class='repPhoto' id='repPhoto{{forloop.counter}}' src={{item.imageFileURL}}>
                        {% else %}
                            <img class="repPhoto repPhoto-none" src="{% static 'img/push-thought-logo.png' %}">
                        {% endif %}
                        <div class="name-title-container" >
                            <div><p class="full-name">{{item.full_name}}</p></div>
                            <div><p class="title">{{item.title}}</p></div>
                        </div>
                    </div>
                    <div class="action-panel-container" id="{{forloop.counter}}">
                        <div class="action-panel">
                            {% if item.twitter_id %}
                                <div class="twitter-name">@{{item.twitter_id}}</div>
                                <div hidden class="index">{{forloop.counter}}</div>
                                <img class="twitter-icon" src="{% static 'img/twitter-icon.png' %}" width="42" height="42">
                            {% else %}
                                <div class="twitter-name" id="twitter-name">n/a</div>
                                <!--<div class="add-remove-label" id="add-remove-label"></div>-->
                                <img class="twitter-icon-empty" src="{% static 'img/twitter-icon-gray.png' %}" width="42" height="42">
                                <div class="warning-box-tweet-icon">
                                    <p class="warning-text">twitter address n/a</p>
                                </div>
                            {% endif %}
                            <img class="phone-icon" src="{% static 'img/phone-icon.png' %}">
                            <img class="email-icon" src="{% static 'img/email-icon.png' %}" width="36" height="36">
                            <!--<div class="indicator2"></div>-->
                            <!--<div class="indicator"></div>-->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> <!--close rep container-->
            <div class="rep-action-container">
                <img id="close-button"src="{% static 'img/x-mark-gray.png' %}" width="15" height="15">
                <div id="text-tweet-block">
                    <div class="address-container">
                            <div class="address-title">
                                <p>Send to: </p>
                            </div>
                        {% for item in congressData %}
                            {% if item.twitter_id %}
                                <div class="address-item address-item-{{forloop.counter}}">
                                    <p class="address-label-{{forloop.counter}}">@{{item.twitter_id}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div tabindex="-1" contenteditable id="text-input" placeholder="Tweet text here"></div>
                    <div id="tweet-button">
                        <img id="img-send-tweet-icon" style="" src="{% static 'img/twitter-icon.png' %}" width="40" height="40">
                        <!--<p id="send-count">4</p>-->
                        <p id="tweet-button-label">tweet: 1</p>
                    </div>
                </div>
                <div>
                    <div class="img-checked-box-container">
                        <img id="img-checked-box" src="{% static 'img/check-circle-gray2.png' %}" width="20" height="20">
                        <p id="link-included">link included</p>
                        <button id="clear-button">Clear</button>
                        <div class="warning-box">
                            <p class="warning-text">link always included</p>
                            <p class="warning-text">for context</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-standard">
            <div class="message-container">
                <div class="tweet-header">
                    <p>Recent Tweets  <span style="color:gray">(click to copy)</span></p>
                </div>
                <div class="tweet-container">
                    {% for item in tweetData %}
                    <div class="tweet-item">
                        <div><p class="tweet-name" style="color:blue; font-size:12pt;">@{{item.username}}</p></div>
                        <div class="tweet">{{item.messageText}}</div>
                    </div>
                   {% endfor %}
                </div> <!--close tweet container-->
            </div>
    </div>
</div><!-- /.intro-header -->

{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="{% static 'js/content_landing.js' %}"></script>

{% csrf_token %}
{% endblock %}


