{% extends "layout.html" %}
{% load static from staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/clean.css' %}">
<link rel="stylesheet" href="{% static 'css/create_campaign.css' %}">

{% endblock %}
{% block title %}Push Thought-Browse{% endblock %}


{% block content %}

<form method="post">{% csrf_token %}
<div class="container-standard" style="margin-top:90px; margin-left:30px; margin-bottom:100px;">
    <h2>Create custom campaign for messaging congress </h2>
    <div class="field-group" style="margin-top:40px;">
        <div class="field-label-container">
            <p class="field-label field-label-title">Campaign Title</p>
        </div>
        <div class="field-input-container">
            <input name="title" class="field-input field-input-title" style="width:400px;">
        </div>
    </div>
    <div class="field-group">
        <div class="field-label-container">
            <p class="field-label field-label-description">Description</p>
        </div>
        <div class="field-input-container">
            <textarea name="description" class="field-input field-input-description" style="width:400px; min-height:70px; "></textarea>
        </div>
    </div>
    <div class="field-group">
        <div class="field-label-container">
            <p class="field-label field-label-image">Image</p>
        </div>
        <div class="field-input-container">
            <input name="image" class="field-input field-input-image" type="file" style="color:white; font-size:12pt;">
        </div>
    </div>
    <div class="field-group">
        <div class="field-label-container">
            <p class="field-label field-label-image" style="font-size:12pt; margin-top:30px;">must choose at least one option</p>
        </div>
        <div class="suggested-message-container">
            <div class="tweet-suggested-message-container">
                <div class="suggested-tweet-container">
                    <p class="field-label field-label-tweet-text">1) Suggested tweet text</p>
                    <p class="field-label field-label-tweet-note" style="font-size:12pt; margin-top:0px;">(max 102 characters)</p>
                    <p class="field-label field-label-image" style="font-size:12pt"></p>
                    <textarea name="tweet_text" class="field-input field-input-description" style="width:400px; min-height:70px;"></textarea>
                </div>
                <div class="suggested-email-container" style="margin-top:20px;">
                    <p class="field-label field-label-tweet-text">2) Suggested email text</p>
                    <p class="field-label field-label-image" style="font-size:12pt"></p>
                    <textarea name="email_text" class="field-input field-input-description" style="width:400px; min-height:100px; "></textarea>
                </div>
            </div>
        </div>

        <div class="field-label-container">
            <div>
                <p class="field-label field-label-description" style="margin-top:20px; display:block;">URL</p>
                <p class="field-label field-label-description" style="margin-top:20px; display:inline; font-size:12pt;">www.pushthought/campaigns/</p>
                <input id="slug" name="slug" class="field-input field-input-title" style="width:400px; margin-left:5px; display:inline;" required>
                <div style="margin-top:10px;">
                    <button id="check_url" class="btn-md" style="color:black; background:gray;">Check URL</button>
                    <div id="check_result"></div>
                </div>
                <div style="margin-top:40px;">
                    <button id="submit" class="btn-lg" style="color:black; background:green; font-size:20px;">CREATE CAMPAIGN</button>
                </div>
            </div>
        </div>

    </div>
</div>
</form>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/content_landing.js' %}"></script>
  <script src="{% static 'js/check_campaign.js' %}"></script>
{% csrf_token %}
{% endblock %}