{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block title %}  {% endblock %}
{% block content %}

<body xmlns:color="http://www.w3.org/1999/xhtml"><!--<body background="{% static 'img/LogoGlow.png' %}">-->
<div class="container">
    <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Great documentary, but now what?</h1>
                    <p class="lead">Share you thoughts with key decision makers.</p>
                    <p class="lead">No parties to join, just thoughts to share.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg btn-block" href="https://itunes.apple.com/us/app/push-thought/id1034060736?mt=8">"I am a watcher"<br>View App</a>
                        <a class="btn btn-info btn-lg btn-block" href="#">"I create content" <br> Use Push Thought?<br><small>(it's free!)</small></a>
                    </p>
                </div>
                <div class="col-sm-6">
                        <img class="img-fluid" src="{% static 'img/image1.jpg' %}"
                             alt="hello"  width="100px">
                </div>
            </div>
        </div>
    </div>

    <div>
        <!--<p>Make the<span id="gray_text_underline"> documentaries</span>-->
            <!--<span id="white_text">Turn your</span><span id="gray_text"> new knowledge</span><br>-->
            <!--<span id="white_text">Turn your</span> <span id="gray_text">frustration</span><br>-->
             <!--<span id="white_text">Turn your</span> <span id="gray_text">perspective</span><br>-->
            <!--<span id="white_text">Turn your</span>  <span id="gray_text">ideas</span><br>-->
            <!--<span id="white_text">Make the</span> <span id="gray_text"> articles</span><br>-->
            <!--<span id="white_text">Make the</span> <span id="gray_text"> series</span><br>-->
            <!--<span id="white_text">Make the</span> <span id="gray_text"> youtube/vimeo videos</span><br>-->
            <!--<span id="white_text">Turn your</span>  <span id="gray_text">news articles</span> <br>-->
            <!--<span id="white_text">Turn your</span>  <span id="gray_text">research</span><br>-->
            <!--<span id="white_text">Make the</span> into-->
            <!--meaningful change!<br><br>-->

            <!--Dig a documentary, but don't know what to do next.-->

            <!--PushThought, stand for something-->
            <!--<br> Make the documentaries/podcasts that inspire/educate get to the people who can impact change.-->
            <!--<br>  1) Watch/listen to a documentary/podcast/TV show that you love!-->
            <!--<br> 2) Feel: educate/informed/angry/shocked/inspired-->
            <!--<br> 3) Push those thoughts and make an impacts.-->



        <!--<br>-->
            <!--<span id="white_text">Turn your</span> <span id="white_text"> favorite documentary</span>-->

    </div>
</body>
<footer>
</footer>
{% endblock %}
