{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
 <!-- Header -->
    <div class="intro-header" style="background-image: {% static 'img/image1.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br/>
                    <br/>
                    <br/>
                    <p>you're favorate documentaries, </p>
                    <p>web videos, and podcasts </p>
                    <div class="site-heading">
                        <h1></h1>
                        <!--<hr class="small">-->
                        <span class="subheading"></span>
                    </div>
                    <dic align="right">
                        <p>as rally points </p>
                        <p>for social change</p>
                    </dic>
                </div>
            </div>
        </div><!-- /.container -->
        <br/>
    </div><!-- /.intro-header -->

    <div class="container-banner">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div><!-- /.container -->


        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<button type="button" id="browse-btn" class="btn btn-success">browse</button>-->
                <!--<h1>We combine your voice with thousands of others to create social change</h1>-->
                <!--<h1>Great documentary, but now what?</h1>-->
                <!--<p class="lead">Share your thoughts with key decision makers.</p>-->
                <!--<p class="lead">No parties to join, just thoughts to share.</p>-->
                <!--<p class="lead">You contact key decision makers, publicly or-->
                                <!--privately.</p>-->
                <!--<p class="lead">Leverage social media, but don't be drowned out by it</p>-->
                <!--<p class="lead">-->
                    <!--<a class="btn btn-primary btn-lg btn-block" href="https://itunes.apple.com/us/app/push-thought/id1034060736?mt=8">"I am a watcher"<br>View App</a>-->
                    <!--<a class="btn btn-info btn-lg btn-block" href="#">"I create content" <br> Use Push Thought?<br><small>(it's free!)</small></a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                    <!--<img class="img-responsive" src="{% static 'img/image1.png' %}" alt="hello">-->
            <!--</div>-->
        <!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/click_handlers.js' %}"></script>
{% endblock %}
