{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Push Thought - Home{% endblock %}


{% block content %}

<div class="intro-header intro-header-image" style="min-height:600px;">
    <div class="container container-text-white">
        <div class="row">
            <h3 class="title-words" style="color:white; font-size:20px;">Custom messaging </h3>
            <h3 class="title-words-body" style="color:white; font-size:20px;">campaigns for congress</h3>
            <a href="{% url 'browse_campaigns' %}" class="btn btn-primary browse-btn" id="browse-btn">Get Started</a>
            <br/>
            <p style="margin-left:75px;">(or)</p>
            <a href="{% url 'contact_immediately' %}" class="btn btn-primary message-btn" id="message-btn">Message Reps Immediately</a>
            <!--<p style="margin-left:75px;">(or)</p>-->
            <!--<a href="{% url 'campaign:create' %}" class="btn btn-primary message-btn" id="message-btn">Create a campaign</a>-->
            <div class="home-banner" style="width:100%; text-align:center; margin-left:75px;">
                <!--<p style="display:inline;"><font color="red"><b>Watch</b></font></p>-->
                <!--&nbsp&nbsp+&nbsp&nbsp <p style="display:inline;"><font color="red"><b>Share</b></font></p>-->
                <!--&nbsp&nbsp+&nbsp&nbsp <p style="display:inline; "><font color="red"><b>Impact</b></font></p>-->
            </div>
            <div>
                <!--<img src="/static/img/push-thought-logo.png" height="40" width="40"><h3>informative content</h3>-->
            </div>
            <div style="margin-top:130px; text-align:center;">
                <!--<h3 style="color:white; font-size:20px;">informative content <img style="width:80px;" src="/static/img/arrow-right.png"> influential people</h3>-->
            </div>

            <!--<div align="left">-->
                <!--<h4 style="margin-top:100px;">meaningful action, made easy for</h4>-->
                <!--<h4>documentaries, web videos, and podcasts</h4>-->
            <!--</div>-->
        </div>
    </div><!-- /.container -->
    <br/>
</div><!-- /.intro-header -->
<div style="background-color:black;">

    <h2 class="how-header text-center" style="color:white; font-size:18pt; font-weight:300; margin-top:0px; margin-bottom:10px; padding-top:10px; padding-bottom:20px; border-bottom:1px solid white;">
        The revolution happens one <img class="img communication-icons" src="{% static 'img/communication-icons.png' %}"> at a time!</h2>
    <h2 class="how-header text-center" style="color:white; font-size:18pt; font-weight:300; margin:0px; padding-top:10px; padding-bottom:10px;"></h2>

</div>
<!--<div class="container-banner">-->
    <!--<div class="row">-->
         <!--<div class="program-container">-->
             <!--{% for program in programs %}-->
                 <!--<div class='program-item'>-->
                    <!--{% if program.image %}-->
                        <!--<img class='program-item-image' id='program-item-image-{{ program.id }}' src='{{ program.image.url }}'>-->
                    <!--{% else %}-->
                    <!--{% endif %}-->
                <!--</div>-->
            <!--{% endfor %}-->
        <!--</div>  &lt;!&ndash;close PROGRAM container&ndash;&gt;-->
    <!--</div>-->
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->



<div class="container text-center" style="background:black;">
    <div class="row" >
        <div class="how-container">


            <h2 class="how-header text-center">
                How Push Thought Works
            </h2>
            <h3 class="how-label">
                1) Select a messaging campaign
            </h3>
            <img class="browse-sample-image" src="{% static 'img/browse-sample-image-single.png' %}">
            <h3 class="how-label" style="margin-top:40px;">
                2) Select a messaging option
            </h3>
            <h3 class="how-label">
                (tweet, phone, email)
            </h3>
            <img class="rep-item-image" src="{% static 'img/message_options_blue.png' %}">
            <h3 class="how-label" style="margin-top:40px;">
                3) Send a message to multiple congresspeople at once!
            </h3>
            <img class="rep-communication-image" src="{% static 'img/message_example.png' %}" width="90%" style="max-width:700px;">


            <!--<div class="col-lg-12">-->
                <!--<h2 class="how-header text-center" style="color:white; font-weight:400;">-->
                    <!--How Push Thought Works-->
                <!--</h2>-->
                <!--&lt;!&ndash;<h4 style="color:white;">curiousity + technology + purpose</h4>&ndash;&gt;-->
            <!--<div class="col-md-4">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<img class="img-free" src="{% static 'img/1.png' %}" height=75 width=75>-->
                        <!--<h3 style="font-weight:400;">Watch</h3>-->
                        <!--<p style="font-weight:400;">informative content</p>-->
                        <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<img class="img-content-logo2" src="{% static 'img/how-it-works-1b.png' %}">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<img class="img-free" src="{% static 'img/2.png' %}" height=75 width=75>-->
                        <!--<h3 style="font-weight:400;">Share</h3>-->
                        <!--<p style="font-weight:400;">with influential people</p>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--&lt;!&ndash;<img class="img" src="{% static 'img/social.png' %}" height=10 width=300>&ndash;&gt;-->
                        <!--<div>-->
                            <!--<div><img class="img-free" style="max-width:60%; display:block; margin:auto; align:center;" src="{% static 'img/how-it-works-2b.png' %}"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--<div class="panel panel-default">-->
                    <!--<div class="panel-heading">-->
                        <!--<img class="img" src="{% static 'img/3.png' %}" height=75 width=75>-->
                        <!--<h3 style="font-weight:400;">Impact</h3>-->
                        <!--<p style="font-weight:400;">activity as a petition</p>-->
                    <!--</div>-->
                    <!--<div class="panel-body">-->
                        <!--<div style="text-align: center;">-->
                            <!--<img class="img panel-3-image" src="{% static 'img/rep-item.png' %}">-->
                            <!--<h4   style="margin-left:auto; margin-right:auto; font-size:16pt; text-align:center; max-width:70%; font-weight:400;">99,999 people say watch this segment</h4>-->
                            <!--&lt;!&ndash;<p><b>Activity of all is aggregated to become newsworthy demands for&ndash;&gt;-->
                                <!--&lt;!&ndash;acknowledgement of, and accountability to, information</b></p>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <!-- /.row -->
</div>


<div class="landing-container" align="middle" id="landing-container">
    <br/>
     <h1>Push Thought</h1>
     <p>is currently being built</p>
    <br/>
    <br/>
    <p>Drop your email for info:</p>
    <form class="form-inline">
        <div class="form-group">
            <div>
                <input type="email" class="form-control" id="email" placeholder="email">
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-primary" id="submit-email-btn" style="border-radius:10px;">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>


        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<button type="button" id="browse-btn" class="btn btn-success">browse</button>-->
                <!--<h1>We combine your voice with thousands of others to create social change</h1>-->
                <!--<h1>Great documentary, but now what?</h1>-->
                <!--<p class="lead">Share your thoughts with key decision makers.</p>-->
                <!--<p class="lead">No parties to join, just thoughts to share.</p>-->
                <!--<p class="lead">You contact key decision makers, publicly or-->
                                <!--privately.</p>-->
                <!--<p class="lead">Leverage social media, but don't be drowned out by it</p>-->
                <!--<p class="lead">-->
                    <!--<a class="btn btn-primary btn-lg btn-block" href="https://itunes.apple.com/us/app/push-thought/id1034060736?mt=8">"I am a watcher"<br>View App</a>-->
                    <!--<a class="btn btn-info btn-lg btn-block" href="#">"I create content" <br> Use Push Thought?<br><small>(it's free!)</small></a>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
                    <!--<img class="img-responsive" src="" alt="hello">-->
            <!--</div>-->
        <!--</div>-->


{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

    <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->

              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->
              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="card card-block">-->
              <!--<h3 class="card-title">Special title treatment</h3>-->
              <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                  <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                    <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="card-block text-center">-->
                    <!--<h4 class="card-title">Card title</h4>-->
                    <!--<h6 class="card-subtitle text-muted">Support card subtitle</h6>-->
                  <!--</div>-->
                    <!--<img class="img-free" src="{% static 'img/push-thought-logo.png' %}" alt="Card image" height="150"-->
                       <!--width="150">-->
                  <!--<div class="card-block text-center">-->
                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                    <!--<a href="#" class="card-link">Card link</a>-->
                    <!--<a href="#" class="card-link">Another link</a>-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->