<!DOCTYPE html PUBLIC>
{% load static from staticfiles %}



<html xml:lang="en" lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<title>{% block title %}Push Thought | meaningful action made easy{% endblock %}</title>
	</head>
	<body>

        <!--navbar-->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <a href="{% url 'home'%}" class="navbar-brand text-muted">Push
                    Thought<small>meaningful action made easy</small></a>

                <!--<a href="{% url 'home'%}" class="navbar-brand text-muted">Meaningful Action Made Easy</a>-->

                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'home'%}"> Home </a></li>
                        <li><a href="{% url 'about'%}"> About </a></li>
                        <li><a href="{% url 'contact'%}"> Contact </a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'account_home' user.pk %}">Dashboard</a></li>
                            <li><a href="{% url 'auth_logout' %}?next=/pushthought/"> Logout </a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}"> Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
		<br><br><br>
        {% block content %}{% endblock %}
        <br><br><br>
        <footer>

                <div class="navbar navbar-default col-sm-12">
                    <div class="col-sm-2">
                        <ul class="list-unstyled link-list in-line">
                            <li><a href="{% url 'home'%}"> Home </a></li>
                            <li><a href="{% url 'about'%}"> About </a></li>
                            <li><a href="{% url 'contact'%}"> Contact </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 pull-left">
                    <a href="http://twitter.com/mattacalin">
                        <img src="{% static 'img/twitter-wrap.png' %}" alt="Twitter Logo" width="30px">
                    </a>
                    <a href="https://www.facebook.com/matthew.acalin">
                        <img src="{% static 'img/facebook-wrap.png' %}" alt="Facebook Logo" width="30px">
                    </a>
                    <br>
                    <p>&copy; 2015 Push Thought</p>
                    {% if user.is_authenticated %}
                        <p>You are logged in as: {{ user.username }}!</p>
                    {% else %}
                        <p>Please login above.</p>
                    {% endif %}
                </div>
            </footer>
        </div>
        {% block static_files %}{% endblock %}
    </body>
</html>