{% extends "layout.html" %}
<head>
   {% block title %}  {% endblock %}
</head>
{% block content %}

<body>
    <div class="container">
        <div class="jumbotron">
            <ul class="list-unstyled">
                <li>Alas, we cannot find the Push Thought menu you are looking for.</li>
                <!--<br><li>Send tweet to: <a href="http://twitter.com/intent/tweet?screen_name=mattacalin">@pushthought</a></li><br><br>-->
            </ul>
        </div>
    </div>
</body>
{% endblock %}
