.program-container{
  /* display:flex;*/
  /*flex-wrap:wrap;*/
  background: white;
  border: 5px solid #642039;
  border-radius: 5px;
}

.program-item{
  margin: 10px;
  padding: 10px;
  background:#efefef;
  border: 1px solid #642039;
  border-radius:5px;
  transition: transform .2s cubic-bezier(.7,-0.39,.31,1.38);
}
.program-item:hover{
  transform: scale(1.05);
}
.program-item-image{
  height:100px;
  width:300px;
}