{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Setting{% endblock %}
{% block content %}
    <form id="profile" style="padding-top: 100px; margin-left:30px;" action="" method="post" style="margin-left:30px;" >{% csrf_token %}
        <p style="font-weight:500;" >Setting for</p> {{ form.as_p }}
        <input type="submit" value="Change zip" style="color:black;" />
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}